
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEducationalProposerLabel" data-translate="xeniaApp.educationalProposer.home.createOrEditLabel">Create or edit a Educational Proposer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.educationalProposer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.educationalProposer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.educationalProposer.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.educationalProposer.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.typeOfCourse" for="field_typeOfCourse">Type Of Course</label>
            <input type="text" class="form-control" name="typeOfCourse" id="field_typeOfCourse"
                    ng-model="vm.educationalProposer.typeOfCourse"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.educationalProposer.duration"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.educationalProposer.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.periodicity" for="field_periodicity">Periodicity</label>
            <input type="text" class="form-control" name="periodicity" id="field_periodicity"
                    ng-model="vm.educationalProposer.periodicity"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.startdate" for="field_startdate">Startdate</label>
                <div class="input-group">
                    <input id="field_startdate" type="text" class="form-control" name="startdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.educationalProposer.startdate" is-open="vm.datePickerOpenStatus.startdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.educationalProposer.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.educationalProposer.price"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
