
<div>
    <h2><span data-translate="xeniaApp.educationalProposer.detail.title">Educational Proposer</span> {{vm.educationalProposer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.educationalProposer.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.educationalProposer.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.name">Name</span></dt>
        <dd>
            <span>{{vm.educationalProposer.name}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.typeOfCourse">Type Of Course</span></dt>
        <dd>
            <span>{{vm.educationalProposer.typeOfCourse}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.duration">Duration</span></dt>
        <dd>
            <span>{{vm.educationalProposer.duration}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.description">Description</span></dt>
        <dd>
            <span>{{vm.educationalProposer.description}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.periodicity">Periodicity</span></dt>
        <dd>
            <span>{{vm.educationalProposer.periodicity}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.startdate">Startdate</span></dt>
        <dd>
            <span>{{vm.educationalProposer.startdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.educationalProposer.price">Price</span></dt>
        <dd>
            <span>{{vm.educationalProposer.price}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="educational-proposer-detail.edit({id:vm.educationalProposer.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
