<div>
    <h2 data-translate="xeniaApp.educationalProposer.home.title">Educational Proposers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="educational-proposer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.educationalProposer.home.createLabel">
                        Create new Educational Proposer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.creationDate">Creation Date</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.name">Name</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.typeOfCourse">Type Of Course</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.duration">Duration</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.description">Description</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.periodicity">Periodicity</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.startdate">Startdate</span></th>
                    <th><span data-translate="xeniaApp.educationalProposer.price">Price</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="educationalProposer in vm.educationalProposers track by educationalProposer.id">
                    <td><a ui-sref="educational-proposer-detail({id:educationalProposer.id})">{{educationalProposer.id}}</a></td>
                        <td>{{educationalProposer.creationDate | date:'mediumDate'}}</td>
                    <td>{{educationalProposer.name}}</td>
                    <td>{{educationalProposer.typeOfCourse}}</td>
                    <td>{{educationalProposer.duration}}</td>
                    <td>{{educationalProposer.description}}</td>
                    <td>{{educationalProposer.periodicity}}</td>
                        <td>{{educationalProposer.startdate | date:'mediumDate'}}</td>
                    <td>{{educationalProposer.price}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="educational-proposer-detail({id:educationalProposer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="educational-proposer.edit({id:educationalProposer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="educational-proposer.delete({id:educationalProposer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
