<div>
    <h2 data-translate="xeniaApp.inviaCarrPosLista.home.title">Invia Carr Pos Listas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="invia-carr-pos-lista.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.inviaCarrPosLista.home.createLabel">
                        Create new Invia Carr Pos Lista
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.spontaneo">Spontaneo</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.identificativoBeneficiario">Identificativo Beneficiario</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.ccp">Ccp</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.codicePa">Codice Pa</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.codiceServizio">Codice Servizio</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.tipoIdPagatore">Tipo Id Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.identificativoPagatore">Identificativo Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.anagraficaPagatore">Anagrafica Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.indirizzoPagatore">Indirizzo Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.civicoPagatore">Civico Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.capPagatore">Cap Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.localitaPagatore">Localita Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.provinciaPagatore">Provincia Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.codiceNazionePagatore">Codice Nazione Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.emailPagatore">Email Pagatore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.dataScadenzaPagamento">Data Scadenza Pagamento</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.importoPagamento">Importo Pagamento</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.tipoFirmaRicevuta">Tipo Firma Ricevuta</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.tipoRiferimentoCreditore">Tipo Riferimento Creditore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.codiceRiferimentoCreditore">Codice Riferimento Creditore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.identificativoUnivocoVersamento">Identificativo Univoco Versamento</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosLista.inviaCarrPosLista">Invia Carr Pos Lista</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inviaCarrPosLista in vm.inviaCarrPosListas track by inviaCarrPosLista.id">
                    <td><a ui-sref="invia-carr-pos-lista-detail({id:inviaCarrPosLista.id})">{{inviaCarrPosLista.id}}</a></td>
                    <td>{{inviaCarrPosLista.spontaneo}}</td>
                    <td>{{inviaCarrPosLista.identificativoBeneficiario}}</td>
                    <td>{{inviaCarrPosLista.ccp}}</td>
                    <td>{{inviaCarrPosLista.codicePa}}</td>
                    <td>{{inviaCarrPosLista.codiceServizio}}</td>
                    <td>{{inviaCarrPosLista.tipoIdPagatore}}</td>
                    <td>{{inviaCarrPosLista.identificativoPagatore}}</td>
                    <td>{{inviaCarrPosLista.anagraficaPagatore}}</td>
                    <td>{{inviaCarrPosLista.indirizzoPagatore}}</td>
                    <td>{{inviaCarrPosLista.civicoPagatore}}</td>
                    <td>{{inviaCarrPosLista.capPagatore}}</td>
                    <td>{{inviaCarrPosLista.localitaPagatore}}</td>
                    <td>{{inviaCarrPosLista.provinciaPagatore}}</td>
                    <td>{{inviaCarrPosLista.codiceNazionePagatore}}</td>
                    <td>{{inviaCarrPosLista.emailPagatore}}</td>
                    <td>{{inviaCarrPosLista.dataScadenzaPagamento}}</td>
                    <td>{{inviaCarrPosLista.importoPagamento}}</td>
                    <td>{{inviaCarrPosLista.tipoFirmaRicevuta}}</td>
                    <td>{{inviaCarrPosLista.tipoRiferimentoCreditore}}</td>
                    <td>{{inviaCarrPosLista.codiceRiferimentoCreditore}}</td>
                    <td>{{inviaCarrPosLista.identificativoUnivocoVersamento}}</td>
                    <td>
                        <a ui-sref="invia-carr-pos-output-detail({id:inviaCarrPosLista.inviaCarrPosLista.id})">{{inviaCarrPosLista.inviaCarrPosLista.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="invia-carr-pos-lista-detail({id:inviaCarrPosLista.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="invia-carr-pos-lista.edit({id:inviaCarrPosLista.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="invia-carr-pos-lista.delete({id:inviaCarrPosLista.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
