
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInviaCarrPosListaLabel" data-translate="xeniaApp.inviaCarrPosLista.home.createOrEditLabel">Create or edit a Invia Carr Pos Lista</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inviaCarrPosLista.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inviaCarrPosLista.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.spontaneo" for="field_spontaneo">Spontaneo</label>
            <input type="text" class="form-control" name="spontaneo" id="field_spontaneo"
                    ng-model="vm.inviaCarrPosLista.spontaneo"
                    required />
            <div ng-show="editForm.spontaneo.$invalid">
                <p class="help-block"
                    ng-show="editForm.spontaneo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.identificativoBeneficiario" for="field_identificativoBeneficiario">Identificativo Beneficiario</label>
            <input type="text" class="form-control" name="identificativoBeneficiario" id="field_identificativoBeneficiario"
                    ng-model="vm.inviaCarrPosLista.identificativoBeneficiario"
                    required />
            <div ng-show="editForm.identificativoBeneficiario.$invalid">
                <p class="help-block"
                    ng-show="editForm.identificativoBeneficiario.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.ccp" for="field_ccp">Ccp</label>
            <input type="text" class="form-control" name="ccp" id="field_ccp"
                    ng-model="vm.inviaCarrPosLista.ccp"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.codicePa" for="field_codicePa">Codice Pa</label>
            <input type="text" class="form-control" name="codicePa" id="field_codicePa"
                    ng-model="vm.inviaCarrPosLista.codicePa"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.codiceServizio" for="field_codiceServizio">Codice Servizio</label>
            <input type="text" class="form-control" name="codiceServizio" id="field_codiceServizio"
                    ng-model="vm.inviaCarrPosLista.codiceServizio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.tipoIdPagatore" for="field_tipoIdPagatore">Tipo Id Pagatore</label>
            <input type="text" class="form-control" name="tipoIdPagatore" id="field_tipoIdPagatore"
                    ng-model="vm.inviaCarrPosLista.tipoIdPagatore"
                    required />
            <div ng-show="editForm.tipoIdPagatore.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoIdPagatore.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.identificativoPagatore" for="field_identificativoPagatore">Identificativo Pagatore</label>
            <input type="text" class="form-control" name="identificativoPagatore" id="field_identificativoPagatore"
                    ng-model="vm.inviaCarrPosLista.identificativoPagatore"
                    required />
            <div ng-show="editForm.identificativoPagatore.$invalid">
                <p class="help-block"
                    ng-show="editForm.identificativoPagatore.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.anagraficaPagatore" for="field_anagraficaPagatore">Anagrafica Pagatore</label>
            <input type="text" class="form-control" name="anagraficaPagatore" id="field_anagraficaPagatore"
                    ng-model="vm.inviaCarrPosLista.anagraficaPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.indirizzoPagatore" for="field_indirizzoPagatore">Indirizzo Pagatore</label>
            <input type="text" class="form-control" name="indirizzoPagatore" id="field_indirizzoPagatore"
                    ng-model="vm.inviaCarrPosLista.indirizzoPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.civicoPagatore" for="field_civicoPagatore">Civico Pagatore</label>
            <input type="text" class="form-control" name="civicoPagatore" id="field_civicoPagatore"
                    ng-model="vm.inviaCarrPosLista.civicoPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.capPagatore" for="field_capPagatore">Cap Pagatore</label>
            <input type="text" class="form-control" name="capPagatore" id="field_capPagatore"
                    ng-model="vm.inviaCarrPosLista.capPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.localitaPagatore" for="field_localitaPagatore">Localita Pagatore</label>
            <input type="text" class="form-control" name="localitaPagatore" id="field_localitaPagatore"
                    ng-model="vm.inviaCarrPosLista.localitaPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.provinciaPagatore" for="field_provinciaPagatore">Provincia Pagatore</label>
            <input type="text" class="form-control" name="provinciaPagatore" id="field_provinciaPagatore"
                    ng-model="vm.inviaCarrPosLista.provinciaPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.codiceNazionePagatore" for="field_codiceNazionePagatore">Codice Nazione Pagatore</label>
            <input type="text" class="form-control" name="codiceNazionePagatore" id="field_codiceNazionePagatore"
                    ng-model="vm.inviaCarrPosLista.codiceNazionePagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.emailPagatore" for="field_emailPagatore">Email Pagatore</label>
            <input type="text" class="form-control" name="emailPagatore" id="field_emailPagatore"
                    ng-model="vm.inviaCarrPosLista.emailPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.dataScadenzaPagamento" for="field_dataScadenzaPagamento">Data Scadenza Pagamento</label>
            <input type="text" class="form-control" name="dataScadenzaPagamento" id="field_dataScadenzaPagamento"
                    ng-model="vm.inviaCarrPosLista.dataScadenzaPagamento"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.importoPagamento" for="field_importoPagamento">Importo Pagamento</label>
            <input type="number" class="form-control" name="importoPagamento" id="field_importoPagamento"
                    ng-model="vm.inviaCarrPosLista.importoPagamento"
                    required />
            <div ng-show="editForm.importoPagamento.$invalid">
                <p class="help-block"
                    ng-show="editForm.importoPagamento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.importoPagamento.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.tipoFirmaRicevuta" for="field_tipoFirmaRicevuta">Tipo Firma Ricevuta</label>
            <input type="text" class="form-control" name="tipoFirmaRicevuta" id="field_tipoFirmaRicevuta"
                    ng-model="vm.inviaCarrPosLista.tipoFirmaRicevuta"
                    required />
            <div ng-show="editForm.tipoFirmaRicevuta.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipoFirmaRicevuta.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.tipoRiferimentoCreditore" for="field_tipoRiferimentoCreditore">Tipo Riferimento Creditore</label>
            <input type="text" class="form-control" name="tipoRiferimentoCreditore" id="field_tipoRiferimentoCreditore"
                    ng-model="vm.inviaCarrPosLista.tipoRiferimentoCreditore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.codiceRiferimentoCreditore" for="field_codiceRiferimentoCreditore">Codice Riferimento Creditore</label>
            <input type="text" class="form-control" name="codiceRiferimentoCreditore" id="field_codiceRiferimentoCreditore"
                    ng-model="vm.inviaCarrPosLista.codiceRiferimentoCreditore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosLista.identificativoUnivocoVersamento" for="field_identificativoUnivocoVersamento">Identificativo Univoco Versamento</label>
            <input type="text" class="form-control" name="identificativoUnivocoVersamento" id="field_identificativoUnivocoVersamento"
                    ng-model="vm.inviaCarrPosLista.identificativoUnivocoVersamento"
                     />
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.inviaCarrPosLista.inviaCarrPosLista" for="field_inviaCarrPosLista">Invia Carr Pos Lista</label>
            <select class="form-control" id="field_inviaCarrPosLista" name="inviaCarrPosLista" ng-model="vm.inviaCarrPosLista.inviaCarrPosLista" ng-options="inviaCarrPosOutput as inviaCarrPosOutput.id for inviaCarrPosOutput in vm.inviacarrposlistas | orderBy:'id' track by inviaCarrPosOutput.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.inviaCarrPosLista.$invalid">
            <p class="help-block"
                ng-show="editForm.inviaCarrPosLista.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
