
<div>
    <h2><span data-translate="xeniaApp.inviaCarrPosLista.detail.title">Invia Carr Pos Lista</span> {{vm.inviaCarrPosLista.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.spontaneo">Spontaneo</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.spontaneo}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.identificativoBeneficiario">Identificativo Beneficiario</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.identificativoBeneficiario}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.ccp">Ccp</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.ccp}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.codicePa">Codice Pa</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.codicePa}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.codiceServizio">Codice Servizio</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.codiceServizio}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.tipoIdPagatore">Tipo Id Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.tipoIdPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.identificativoPagatore">Identificativo Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.identificativoPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.anagraficaPagatore">Anagrafica Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.anagraficaPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.indirizzoPagatore">Indirizzo Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.indirizzoPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.civicoPagatore">Civico Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.civicoPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.capPagatore">Cap Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.capPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.localitaPagatore">Localita Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.localitaPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.provinciaPagatore">Provincia Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.provinciaPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.codiceNazionePagatore">Codice Nazione Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.codiceNazionePagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.emailPagatore">Email Pagatore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.emailPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.dataScadenzaPagamento">Data Scadenza Pagamento</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.dataScadenzaPagamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.importoPagamento">Importo Pagamento</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.importoPagamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.tipoFirmaRicevuta">Tipo Firma Ricevuta</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.tipoFirmaRicevuta}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.tipoRiferimentoCreditore">Tipo Riferimento Creditore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.tipoRiferimentoCreditore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.codiceRiferimentoCreditore">Codice Riferimento Creditore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.codiceRiferimentoCreditore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.identificativoUnivocoVersamento">Identificativo Univoco Versamento</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosLista.identificativoUnivocoVersamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosLista.inviaCarrPosLista">Invia Carr Pos Lista</span></dt>
        <dd>
            <a ui-sref="invia-carr-pos-output-detail({id:vm.inviaCarrPosLista.inviaCarrPosLista.id})">{{vm.inviaCarrPosLista.inviaCarrPosLista.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="invia-carr-pos-lista-detail.edit({id:vm.inviaCarrPosLista.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
