
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCourseLabel" data-translate="xeniaApp.course.home.createOrEditLabel">Create or edit a Course</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.course.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.course.id" readonly />
        </div>
        <div class="form-group" ng-if="editForm.$valid">
            <label class="control-label" data-translate="xeniaApp.course.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                   ng-model="vm.course.code" placeholder="{{vm.course| codeGenerator}}" readonly
                   />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.course.level" for="field_level">Level</label>
            <select class="form-control" name="level" ng-model="vm.course.level" id="field_level" required ng-click="vm.course.typeOfCourse=''">
                <option value="A1" data-translate="xeniaApp.CourseLevel.A1">A1</option>
                <option value="A2" data-translate="xeniaApp.CourseLevel.A2">A2</option>
                <option value="B1" data-translate="xeniaApp.CourseLevel.B1">B1</option>
                <option value="B2" data-translate="xeniaApp.CourseLevel.B2">B2</option>
                <option value="C1" data-translate="xeniaApp.CourseLevel.C1">C1</option>
                <option value="C2" data-translate="xeniaApp.CourseLevel.C2">C2</option>
                <option value="BA" data-translate="xeniaApp.CourseLevel.BA">BA</option>
                <option value="IN" data-translate="xeniaApp.CourseLevel.IN">IN</option>
                <option value="SPE" data-translate="xeniaApp.CourseLevel.SPE" >SPECIALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.course.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="vm.course.description"
                   />
        </div>
        <label class="control-label">Type of course</label>
        <div class="table-responsive">
            <table class="table">
                <tr align="center">
                    <td>
                        <input ng-disabled="vm.course.level == 'BA' || vm.course.level == 'IN' || vm.course.level == 'SPE'" type="radio" name="typeOfCourse" id="field_typeOfCourse" value="O"
                               ng-model="vm.course.typeOfCourse" ng-required="vm.course.level!='SPE'"
                               />
                        <label class="control-label" for="field_intensive">Ordinario</label>
                    </td>
                    <td >
                        <input ng-disabled="vm.course.level == 'A1' || vm.course.level == 'BA' || vm.course.level == 'IN' || vm.course.level == 'SPE'" type="radio" name="typeOfCourse" id="field_typeOfCourse" value="I"
                               ng-model="vm.course.typeOfCourse" ng-required="vm.course.level!='SPE'"
                               />
                        <label class="control-label" data-translate="xeniaApp.course.intensive" for="field_intensive">Intensivo</label>
                    </td>
                    <td>
                        <input ng-disabled="vm.course.level == 'A1' || vm.course.level == 'B1' || vm.course.level == 'C1' || vm.course.level == 'A2' || vm.course.level == 'B2' || vm.course.level == 'C2' || vm.course.level == 'SPE'"
                            type="radio" name="typeOfCourse" id="field_typeOfCourse" value="MAPO"
                               ng-model="vm.course.typeOfCourse" ng-required="vm.course.level!='SPE'"
                               />       
                        <label class="control-label" data-translate="xeniaApp.course.marcoPolo" for="field_marcoPolo">Marco Polo</label>    
                    </td>
                    <td>
                        <input ng-disabled="vm.course.level == 'A1' || vm.course.level == 'B1' || vm.course.level == 'C1' || vm.course.level == 'A2' || vm.course.level == 'B2' || vm.course.level == 'C2' || vm.course.level == 'SPE'"
                              type="radio" name="typeOfCourse" id="field_typeOfCourse" value="TURA"
                               ng-model="vm.course.typeOfCourse" ng-required="vm.course.level!='SPE'"
                               />
                        <label class="control-label" data-translate="xeniaApp.course.turandot" for="field_turandot">Turandot</label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.course.maxStudNum" for="field_maxStudNum">Max Stud Num</label>
            <input type="number" class="form-control" name="maxStudNum" id="field_maxStudNum"
                   ng-model="vm.course.maxStudNum"
                   />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.course.startDate" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" 
                       datepicker-options="vm.datepickerStartDateOptions" ng-model="vm.course.startDate" is-open="vm.datePickerOpenStatus.startDate"
                       datetimepicker-neutral-timezone
                       ng-required="true" onkeydown="return false"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendarStart('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.course.endDate" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.course.endDate" is-open="vm.datePickerOpenStatus.endDate"
                       datepicker-options="vm.datepickerEndDateOptions" datetimepicker-neutral-timezone ng-required="true"
                       onkeydown="return false"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendarEnd('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group" ng-show="vm.course.endDate != null && vm.course.startDate != null">
            <label class="control-label" data-translate="xeniaApp.course.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                   ng-model="vm.course.duration" readonly placeholder="{{(((vm.course.endDate - vm.course.startDate) / (1000 * 24 * 60 * 60))+1)}}"
                   />
        </div>
        <div class="form-group">
            <label data-translate="xeniaApp.course.lecturer" for="field_lecturer">Lecturer</label>
            <select class="form-control" id="field_lecturer" name="lecturer" ng-model="vm.course.lecturer" ng-options="lecturer as lecturer.id for lecturer in vm.lecturers track by lecturer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.course.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.course.price"
                     />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
