
<div>
    <h2><span data-translate="xeniaApp.course.detail.title">Course</span> {{vm.course.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.course.code">Code</span></dt>
        <dd>
            <span>{{vm.course.code}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.description">Description</span></dt>
        <dd>
            <span>{{vm.course.description}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.duration">Duration</span></dt>
        <dd>
            <span>{{vm.course.duration}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.price">Price</span></dt>
        <dd>
            <span>{{vm.course.price}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.intensive">Intensive</span></dt>
        <dd>
            <span>{{vm.course.intensive}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.marcoPolo">Marco Polo</span></dt>
        <dd>
            <span>{{vm.course.marcoPolo}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.turandot">Turandot</span></dt>
        <dd>
            <span>{{vm.course.turandot}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.level">Level</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.CourseLevel.' + vm.course.level}}">{{vm.course.level}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.course.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.maxStudNum">Max Stud Num</span></dt>
        <dd>
            <span>{{vm.course.maxStudNum}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.course.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.endDate">End Date</span></dt>
        <dd>
            <span>{{vm.course.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.course.lecturer">Lecturer</span></dt>
        <dd>
            <a ui-sref="lecturer-detail({id:vm.course.lecturer.id})">{{vm.course.lecturer.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="course-detail.edit({id:vm.course.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
