<div>
    <h2 data-translate="xeniaApp.course.home.title">Courses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.course.home.createLabel">
                        Create new Course
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <!--<th><span data-translate="global.field.id">ID</span></th> -->
                    <th><span data-translate="xeniaApp.course.code">Code</span></th>
                    <th><span data-translate="xeniaApp.course.description">Description</span></th>
                    <th><span data-translate="xeniaApp.course.duration">Duration</span></th>
                    <th><span data-translate="xeniaApp.course.price">Price</span></th>
                    <th><span data-translate="xeniaApp.course.intensive">Intensive</span></th>
                    <th><span data-translate="xeniaApp.course.marcoPolo">Marco Polo</span></th>
                    <th><span data-translate="xeniaApp.course.turandot">Turandot</span></th>
                    <th><span data-translate="xeniaApp.course.level">Level</span></th>
                    <th><span data-translate="xeniaApp.course.creationDate">Creation Date</span></th>
                    <th><span data-translate="xeniaApp.course.maxStudNum">Max Stud Num</span></th>
                    <th><span data-translate="xeniaApp.course.startDate">Start Date</span></th>
                    <th><span data-translate="xeniaApp.course.endDate">End Date</span></th>
                    <th><span data-translate="xeniaApp.course.lecturer">Lecturer</span></th>
                    <th><span>Number Of Students</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in vm.courses track by course.id">
                    <!--<td>{{course.id}}</td> -->
                    <td><a ui-sref="course-detail({id:course.id})"> {{course.code}} </a></td>
                    <td>{{course.description}}</td>
                    <td>{{course.duration}}</td>
                    <td>{{course.price}}</td>
                    <td>{{course.intensive}}</td>
                    <td>{{course.marcoPolo}}</td>
                    <td>{{course.turandot}}</td>
                    <td data-translate="{{'xeniaApp.CourseLevel.' + course.level}}">{{course.level}}</td>
                        <td>{{course.creationDate | date:'mediumDate'}}</td>
                    <td>{{course.maxStudNum}}</td>
                        <td>{{course.startDate | date:'mediumDate'}}</td>
                        <td>{{course.endDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="lecturer-detail({id:course.lecturer.id})">{{course.lecturer.name +' '+course.lecturer.surname}}</a>
                    </td>
                    <td >{{course.enrolledStudents}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-course({courseCode:course.code})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course.edit({id:course.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course.delete({id:course.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
