
<div>
    <h2><span data-translate="xeniaApp.placementTest.detail.title">Placement Test</span> {{vm.placementTest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.placementTest.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.placementTest.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.placementTest.scheduleTime">Schedule Time</span></dt>
        <dd>
            <span>{{vm.placementTest.scheduleTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.placementTest.location">Location</span></dt>
        <dd>
            <span>{{vm.placementTest.location}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.placementTest.maxNumStud">Max Num Stud</span></dt>
        <dd>
            <span>{{vm.placementTest.maxNumStud}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="placement-test-detail.edit({id:vm.placementTest.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
