
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlacementTestLabel" data-translate="xeniaApp.placementTest.home.createOrEditLabel">Create or edit a Placement Test</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.placementTest.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.placementTest.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.placementTest.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.placementTest.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.placementTest.scheduleTime" for="field_scheduleTime">Schedule Time</label>
                <div class="input-group">
                    <input id="field_scheduleTime" type="text" class="form-control" name="scheduleTime" datetime-picker="{{dateformat}}" ng-model="vm.placementTest.scheduleTime" is-open="vm.datePickerOpenStatus.scheduleTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scheduleTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.placementTest.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.placementTest.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.placementTest.maxNumStud" for="field_maxNumStud">Max Num Stud</label>
            <input type="number" class="form-control" name="maxNumStud" id="field_maxNumStud"
                    ng-model="vm.placementTest.maxNumStud"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
