<div>
    <h2 data-translate="xeniaApp.placementTest.home.title">Placement Tests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="placement-test.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.placementTest.home.createLabel">
                        Create new Placement Test
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.placementTest.creationDate">Creation Date</span></th>
                    <th><span data-translate="xeniaApp.placementTest.scheduleTime">Schedule Time</span></th>
                    <th><span data-translate="xeniaApp.placementTest.location">Location</span></th>
                    <th><span data-translate="xeniaApp.placementTest.maxNumStud">Max Num Stud</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="placementTest in vm.placementTests track by placementTest.id">
                    <td><a ui-sref="placement-test-detail({id:placementTest.id})">{{placementTest.id}}</a></td>
                        <td>{{placementTest.creationDate | date:'mediumDate'}}</td>
                    <td>{{placementTest.scheduleTime | date:'medium'}}</td>
                    <td>{{placementTest.location}}</td>
                    <td>{{placementTest.maxNumStud}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="placement-test-detail({id:placementTest.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="placement-test.edit({id:placementTest.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="placement-test.delete({id:placementTest.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
