
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentCourseLabel" data-translate="xeniaApp.studentCourse.home.createOrEditLabel">Create or edit a Student Course</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.studentCourse.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.studentCourse.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentCourse.registrationDate" for="field_registrationDate">Registration Date</label>
                <div class="input-group">
                    <input id="field_registrationDate" type="text" class="form-control" name="registrationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.studentCourse.registrationDate" is-open="vm.datePickerOpenStatus.registrationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('registrationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.studentCourse.student" for="field_student">Student</label>
            <input class = "form-control" placeholder="{{vm.students[0].studentNumber}}" readonly />
            <!--<select class="form-control" id="field_student" name="student" ng-model="vm.studentCourse.student" ng-options="student as student.id for student in vm.students track by student.id">
                <option value=""></option>
            </select>-->
        </div>
        <div class="form-group">
            <label data-translate="xeniaApp.studentCourse.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.studentCourse.course" ng-options=" course as 'Codice: ' + course.code + ' Livello: ' + course.level +' Durata: '+ course.duration + ' Prezzo: '+ course.price for course in vm.courses track by course.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
