<div>
    <h2 data-translate="xeniaApp.studentCourse.home.title">Student Courses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="student-course.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.studentCourse.home.createLabel">
                        Create new Student Course
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.studentCourse.registrationDate">Registration Date</span></th>
                    <th><span data-translate="xeniaApp.studentCourse.student">Student</span></th>
                    <th><span data-translate="xeniaApp.studentCourse.course">Course</span></th>
                    <th><span data-translate="xeniaApp.studentCourse.course">Course</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="studentCourse in vm.studentCourses track by studentCourse.id">
                    <td><a ui-sref="student-course-detail({id:studentCourse.id})">{{studentCourse.id}}</a></td>
                        <td>{{studentCourse.registrationDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="student-detail({id:studentCourse.student.id})">{{studentCourse.student.studentNumber}}</a>
                    </td>
                    <td>
                        <a ui-sref="course-detail({id:studentCourse.course.id})">{{studentCourse.course.id}}</a>
                    </td>
                    <td>
                        <a>{{studentCourse.course.code}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-course-detail({id:studentCourse.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-course.edit({id:studentCourse.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-course.delete({id:studentCourse.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
