
<div>
    <h2><span data-translate="xeniaApp.studentCourse.detail.title">Student Course</span> {{vm.studentCourse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.studentCourse.registrationDate">Registration Date</span></dt>
        <dd>
            <span>{{vm.studentCourse.registrationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentCourse.student">Student</span></dt>
        <dd>
            <a ui-sref="student-detail({id:vm.studentCourse.student.id})">{{vm.studentCourse.student.id}}</a>
        </dd>
        <dt><span data-translate="xeniaApp.studentCourse.course">Course</span></dt>
        <dd>
            <a ui-sref="course-detail({id:vm.studentCourse.course.id})">{{vm.studentCourse.course.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="student-course-detail.edit({id:vm.studentCourse.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
