<div>
    <h2 data-translate="xeniaApp.arrivals-schedule-section.title">Students arrivals schedule</h2>
    <jhi-alert></jhi-alert>
    <div class="row date-pagination">
        <div class="col-sm-4">
            <button type="button" class="btn btn-default float-sx" ng-click="vm.yearPrev()"><i class="fa fa-chevron-left"></i></button>
            <input id="year-current" type="text" class="form-control float-sx" ng-model="vm.yearCurrent" ng-change="vm.yearChange()" />
            <button type="button" class="btn btn-default float-sx" ng-click="vm.yearNext()"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="col-sm-8">
            <button ng-repeat="month in vm.months" type="button" class="btn btn-default" ng-class="{'active': vm.monthCurrent == month.value}" ng-click="vm.monthChange(month.value)" value="{{month.value}}"><span data-translate="xeniaApp.arrivals-schedule-section.months.{{month.label}}">{{month.label}}</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <uib-accordion close-others="true">
                <uib-accordion-group ng-repeat="pretest in vm.pretests">
                    <uib-accordion-heading>
                        <!--<uib-accordion-title>-->
                        <span ng-click="vm.loadStudents(pretest.scheduleTime)">{{pretest.scheduleTime | date:'fullDate'}}</span>
                        <!--</uib-accordion-title>-->
                    </uib-accordion-heading>
                    <uib-accordion-body>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th data-translate="xeniaApp.student.studentNumber">
                                            Matricola
                                        </th>
                                        <th data-translate="xeniaApp.student.surname">
                                            Cognome
                                        </th>
                                        <th data-translate="xeniaApp.student.name">
                                            Nome
                                        </th>
                                        <th data-translate="xeniaApp.student.country">
                                            Paese di provenienza
                                        </th>
                                        <th data-translate="xeniaApp.arrivals-schedule-section.actions">
                                            Azioni
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="student in vm.students" class="arrivals-schedule-student">
                                        <td>
                                            {{student.studentNumber}}
                                        </td>
                                        <td>
                                            {{student.surname}}
                                        </td>
                                        <td>
                                            {{student.name}}
                                        </td>
                                        <td>
                                            {{student.country}}
                                        </td>
                                        <td>
                                            <a title="{{'xeniaApp.arrivals-schedule-section.details'|translate}}" ui-sref="student-detail({id:student.id})"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            &nbsp;
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <button type="button" class="btn btn-default btn-sm" ui-sref="student-detail.edit({id:student.id})" ng-click="">Assegna livello</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-accordion-body>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>
