
<nav class="navbar sidenavbar" role="navigation" >
    <div class="side-menu-container" >
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="/">
                <div class="icon"><img src="https://jhipster.github.io/images/logo/logo-jhipster2x.png" height="50px"></div>
                <div class="title brand">JHipster </div>
            </a>-->
            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav" ng-class="{'expanded':expanded}">
            <li scroll-to="content-id">
                <a ui-sref="student-detail({id:1})">
                    <span class="icon fa fa-home" ></span><span class="title">My Unistrapg</span>
                </a>
            </li>
            <li scroll-to="content-id">
                <a ui-sref="student-intentions">
                    <span ng-if="snc.numStudIntentionsPending==0 || (snc.numStudIntentionsPending>0 && expanded)" class="icon glyphicon glyphicon-shopping-cart"></span>
                    <span class="title" data-translate="side-navbar.futureCourses">I miei corsi futuri</span>
                    <span class="badge blink icon" ng-if="snc.numStudIntentionsPending>0" ng-bind="snc.numStudIntentionsPending"></span>
                </a>
            </li>
            <li scroll-to="content-id">
                <a ui-sref="course">
                    <span class="icon fa fa-file-text-o"></span><span class="title" data-translate="side-navbar.courses">I miei Corsi</span>
                </a>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id">
                <a data-toggle="collapse" href="#dropdown-1">
                    <span class="icon fa fa-road"></span><span class="title" data-translate="side-navbar.exams">Esami</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/tech-stack/"><i class="fa fa-fw fa-stack-overflow"></i> Technology stack</a></li>
                            <li><a href="/presentation" target="_blank"><i class="fa fa-fw fa-desktop"></i> Official JHipster slides</a></li>
                            <li><a href="https://jhipster.github.io/screenshots/"><i class="fa fa-fw fa-picture-o"></i> JHipster in 5 screenshots</a></li>
                            <li><a href="https://jhipster.github.io/video-tutorial/"><i class="fa fa-fw fa-film"></i> Video tutorial (20 minutes)</a></li>
                            <li><a href="https://jhipster.github.io/companies-using-jhipster/"><i class="fa fa-fw fa-thumbs-up"></i> Companies using JHipster</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id">
                <a data-toggle="collapse" href="#dropdown-2">
                    <span class="icon fa fa-fw fa-wrench"></span><span class="title" data-translate="side-navbar.certificates">Attestati &amp; OpenBadges</span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/installation/"><i class="fa fa-fw fa-cloud-download"></i> Installing JHipster</a></li>
                            <li><a href="https://jhipster.github.io/configuring-a-corporate-proxy/"><i class="fa fa-fw fa-exchange"></i> Configuring a proxy</a></li>
                            <li><a href="https://jhipster.github.io/jhipster-app/"><i class="fa fa-fw fa-laptop"></i> JHipster App</a></li>
                            <li><a href="https://jhipster.github.io/configuring-ide/"><i class="fa fa-fw fa-keyboard-o"></i> Configuring your IDE</a></li>
                            <li><a href="https://jhipster.github.io/docker-compose/"><i class="fa fa-fw fa-music"></i> Docker Compose</a></li>
                            <li><a href="https://jhipster.github.io/shell-plugins/"><i class="fa fa-fw fa-terminal"></i> Shell Plugins</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id">
                <a data-toggle="collapse" href="#dropdown-3"><span class="icon fa fa-fw fa-list-ol"></span><span class="title" data-translate="side-navbar.events">Eventi</span></a>
                <div id="dropdown-3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/microservices-architecture/"><i class="fa fa-fw  fa-sitemap"></i> Doing microservices</a></li>
                            <li><a href="https://jhipster.github.io/creating-an-app/"><i class="fa fa-fw fa-rocket"></i> Creating an application</a></li>
                            <li><a href="https://jhipster.github.io/creating-an-entity/"><i class="fa fa-fw fa-bolt"></i> Creating an entity</a></li>
                            <li><a href="https://jhipster.github.io/creating-a-service/"><i class="fa fa-fw fa-bolt"></i> Creating a service</a></li>
                            <li><a href="https://jhipster.github.io/using-dtos/"><i class="fa fa-fw fa-briefcase"></i> Creating DTOs</a></li>
                            <li><a href="https://jhipster.github.io/managing-relationships/"><i class="fa fa-fw fa-sitemap"></i> Managing relationships</a></li>
                            <li><a href="https://jhipster.github.io/installing-new-languages/"><i class="fa fa-fw fa-flag"></i> Internationalization</a></li>
                            <li><a href="https://jhipster.github.io/upgrading-an-application/"><i class="fa fa-fw fa-refresh"></i> Upgrading an application</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id"  has-any-authority="ROLE_ADMIN, ROLE_STUDENT">
                <a data-toggle="collapse" href="#dropdown-4"><span class="icon fa fa-fw fa-puzzle-piece"></span><span class="title" data-translate="side-navbar.studyatunistrapg">Studiare ad Unistrapg</span></a>
                <div id="dropdown-4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/security/"><i class="fa fa-fw fa-lock"></i> Securing your app</a></li>
                            <li><a href="https://jhipster.github.io/using-elasticsearch/"><i class="fa fa-fw fa-search"></i> Using Elasticsearch</a></li>
                            <li><a href="https://jhipster.github.io/using-websockets/"><i class="fa fa-fw fa-envelope"></i> Using Websockets</a></li>
                            <li><a href="https://jhipster.github.io/using-oracle/"><i class="fa fa-fw fa-archive"></i> Using Oracle</a></li>
                            <li><a href="https://jhipster.github.io/using-mongodb/"><i class="fa fa-fw fa-leaf"></i> Using MongoDB</a></li>
                            <li><a href="https://jhipster.github.io/using-cassandra/"><i class="fa fa-fw fa-eye"></i> Using Cassandra</a></li>
                            <li><a href="https://jhipster.github.io/using-kafka/"><i class="fa fa-fw fa-envelope"></i> Using Kafka</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id" has-any-authority="ROLE_ADMIN, ROLE_STUDENT, ROLE_LECTURER">
                <a data-toggle="collapse" href="#dropdown-5"><span class="icon fa fa-fw fa-code"></span><span class="title" data-translate="side-navbar.educationalmaterial" >Materiale Didattico</span></a>
                <div id="dropdown-5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/development/"><i class="fa fa-fw fa-code"></i> Using in development</a></li>
                            <li><a href="https://jhipster.github.io/profiles/"><i class="fa fa-fw fa-group"></i> Managing profiles</a></li>
                            <li><a href="https://jhipster.github.io/common-application-properties/"><i class="fa fa-fw fa-flask"></i> Common application properties</a></li>
                            <li><a href="https://jhipster.github.io/using-angularjs/"><i class="fa fa-fw fa-html5"></i> Using AngularJS</a></li>
                            <li><a href="https://jhipster.github.io/customizing-bootstrap/"><i class="fa fa-fw fa-css3"></i> Customizing Bootstrap</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id" has-any-authority="ROLE_ADMIN, ROLE_STUDENT">
                <a data-toggle="collapse" href="#dropdown-6"><span class="icon fa fa-fw fa-umbrella"></span><span class="title" data-translate="side-navbar.accomodation"  >Alloggi</span></a>
                <div id="dropdown-6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/running-tests/"><i class="fa fa-fw fa-shield"></i> Running tests</a></li>
                            <li><a href="https://jhipster.github.io/code-quality/"><i class="fa fa-fw fa-diamond"></i> Code quality</a></li>
                            <li><a href="https://jhipster.github.io/setting-up-ci/"><i class="fa fa-fw fa-stethoscope"></i> Continuous Integration</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id" has-any-authority="ROLE_ADMIN, ROLE_STUDENT">
                <a data-toggle="collapse" href="#dropdown-7"><span class="icon fa fa-fw fa-cloud"></span><span class="title" data-translate="side-navbar.residencepermit" >Permesso di soggiorno</span></a>
                <div id="dropdown-7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/production/"><i class="fa fa-fw fa-play-circle"></i> Using in production</a></li>
                            <li><a href="https://jhipster.github.io/monitoring/"><i class="fa fa-fw fa-line-chart"></i> Monitoring</a></li>
                            <li><a href="https://jhipster.github.io/docker-hub/"><i class="fa fa-fw fa-cloud-upload"></i> Docker Hub</a></li>
                            <li><a href="https://jhipster.github.io/cloudfoundry/"><i class="fa fa-fw fa-cloud-upload"></i> Deploying to Cloud Foundry</a></li>
                            <li><a href="https://jhipster.github.io/heroku/"><i class="fa fa-fw fa-cloud-upload"></i> Deploying to Heroku</a></li>
                            <li><a href="https://jhipster.github.io/kubernetes/"><i class="fa fa-fw fa-cloud-upload"></i> Deploying to Kubernetes</a></li>
                            <li><a href="https://jhipster.github.io/aws/"><i class="fa fa-fw fa-cloud-upload"></i> Deploying to AWS</a></li>
                            <li><a href="https://jhipster.github.io/boxfuse/"><i class="fa fa-fw fa-cloud-upload"></i> Deploying with Boxfuse</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id" has-any-authority="ROLE_ADMIN, ROLE_STUDENT">
                <a data-toggle="collapse" href="#dropdown-8"><span class="icon fa fa-fw fa-cubes"></span><span class="title" data-translate="side-navbar.scholarship" >Borse di studio</span></a>
                <div id="dropdown-8" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/modules/marketplace/"><i class="fa fa-fw fa-shopping-cart"></i> Marketplace</a></li>
                            <li><a href="https://jhipster.github.io/modules/creating-a-module/"><i class="fa fa-fw fa-cube"></i> Creating a module</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel panel-default dropdown" scroll-to="content-id" has-any-authority="ROLE_ADMIN, ROLE_STUDENT">
                <a data-toggle="collapse" href="#dropdown-9"><span class="icon fa fa-fw fa-wrench"></span><span class="title" data-translate="side-navbar.visainformation" >Informazioni Visti</span></a>
                <div id="dropdown-9" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="https://jhipster.github.io/jdl/"><i class="fa fa-fw fa-star"></i> JDL</a></li>
                            <li><a href="https://jhipster.github.io/jdl-studio/"><i class="fa fa-fw fa-terminal"></i> JDL Studio</a></li>
                            <li><a href="https://jhipster.github.io/jhipster-ide/"><i class="fa fa-fw fa-object-group"></i> JHipster IDE</a></li>
                            <li>
                                <a href="https://jhipster.github.io/jhipster-uml/"><i class="fa fa-fw fa-magic"></i> JHipster-UML</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
