
<div>
    <h2><span data-translate="xeniaApp.studentIntentions.detail.title">Student Intentions</span> {{vm.studentIntentions.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.studentIntentions.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.studentIntentions.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.startDate">Start Date</span></dt>
        <dd>
            <span>{{vm.studentIntentions.startDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.endDate">End Date</span></dt>
        <dd>
            <span>{{vm.studentIntentions.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.level">Level</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.CourseLevel.' + vm.studentIntentions.level}}">{{vm.studentIntentions.level}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.realizationDate">Realization Date</span></dt>
        <dd>
            <span>{{vm.studentIntentions.realizationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.state">State</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.State.' + vm.studentIntentions.state}}">{{vm.studentIntentions.state}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.user">User</span></dt>
        <dd>
            {{vm.studentIntentions.user.id}}
        </dd>
        <dt><span data-translate="xeniaApp.studentIntentions.educationalProposer">Educational Proposer</span></dt>
        <dd>
            <a ui-sref="educational-proposer-detail({id:vm.studentIntentions.educationalProposer.id})">{{vm.studentIntentions.educationalProposer.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="student-intentions-detail.edit({id:vm.studentIntentions.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
