
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentIntentionsLabel" data-translate="xeniaApp.studentIntentions.home.createOrEditLabel">Create or edit a Student Intentions</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.studentIntentions.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.studentIntentions.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentIntentions.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.studentIntentions.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentIntentions.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.studentIntentions.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentIntentions.endDate" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.studentIntentions.endDate" is-open="vm.datePickerOpenStatus.endDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentIntentions.level" for="field_level">Level</label>
            <select class="form-control" name="level" ng-model="vm.studentIntentions.level" id="field_level">
                <option value="A1" data-translate="xeniaApp.CourseLevel.A1">A1</option>
                <option value="A2" data-translate="xeniaApp.CourseLevel.A2">A2</option>
                <option value="B1" data-translate="xeniaApp.CourseLevel.B1">B1</option>
                <option value="B2" data-translate="xeniaApp.CourseLevel.B2">B2</option>
                <option value="C1" data-translate="xeniaApp.CourseLevel.C1">C1</option>
                <option value="C2" data-translate="xeniaApp.CourseLevel.C2">C2</option>
                <option value="SPE" data-translate="xeniaApp.CourseLevel.SPE">SPE</option>
                <option value="BA" data-translate="xeniaApp.CourseLevel.BA">BA</option>
                <option value="IN" data-translate="xeniaApp.CourseLevel.IN">IN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentIntentions.realizationDate" for="field_realizationDate">Realization Date</label>
                <div class="input-group">
                    <input id="field_realizationDate" type="text" class="form-control" name="realizationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.studentIntentions.realizationDate" is-open="vm.datePickerOpenStatus.realizationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('realizationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentIntentions.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="vm.studentIntentions.state" id="field_state" required>
                <option value="ENROLLED" data-translate="xeniaApp.State.ENROLLED">ENROLLED</option>
                <option value="NOTENROLLED" data-translate="xeniaApp.State.NOTENROLLED">NOTENROLLED</option>
                <option value="NOTINTERESTED" data-translate="xeniaApp.State.NOTINTERESTED">NOTINTERESTED</option>
            </select>
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.studentIntentions.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.studentIntentions.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>-->
        <div class="form-group">
            <label data-translate="xeniaApp.studentIntentions.educationalProposer" for="field_educationalProposer">Educational Proposer</label>
            <select class="form-control" id="field_educationalProposer" name="educationalProposer" ng-model="vm.studentIntentions.educationalProposer" ng-options="educationalProposer as educationalProposer.name for educationalProposer in vm.educationalproposers track by educationalProposer.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.educationalProposer.$invalid">
            <p class="help-block"
                ng-show="editForm.educationalProposer.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
