<div>
    <h2 data-translate="xeniaApp.studentIntentions.home.title">Student Intentions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="student-intentions.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.studentIntentions.home.createLabel">
                        Create new Student Intentions
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    
    <div class="table-responsive"  has-authority="ROLE_USER">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Corso</span></th>
                    <th><span>Informazioni Corso</span></th>
                    <th><span>Prezzo</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="studentIntentions in vm.studentIntentions track by studentIntentions.id">
                    <td class="col-sm-4"><img class="img-responsive img-circle" src="content/images/italiano-2.jpg"/></td>
                    <td class="col-sm-6"><span><b>Nome del corso: </b></span>{{studentIntentions.educationalProposer.name}}<br>
                        <span><b>Tipologia del corso: </b></span>{{studentIntentions.educationalProposer.typeOfCourse}}<br>
                        <span><b>Data di inizio del corso: </b></span>{{studentIntentions.educationalProposer.startdate| date:'mediumDate'}}
                    </td>
                    <td class="col-sm-1">{{studentIntentions.educationalProposer.price}}</td>
                    </div>
                    <td class="text-right col-sm-1">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-intentions-detail({id:studentIntentions.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.new"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.enrolled"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-intentions.delete({id:studentIntentions.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid" has-authority="ROLE_STUDENT">
        <div class="row">
            <div class="table-responsive col-sm-8" >
                <table class="jh-table table table-striped">
                    <thead>
                        <tr>
                            <th><span>Corso</span></th>
                            <th><span>Informazioni Corso</span></th>
                            <th><span>Prezzo</span></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="studentIntentions in vm.studentIntentions track by studentIntentions.id">
                        <tr ng-if="studentIntentions.state === 'NOTENROLLED'">
                            <td class="col-sm-4"><img class="img-responsive img-circle" src="content/images/italiano-2.jpg"/></td>
                            <td class="col-sm-6"><span><b>Nome del corso: </b></span>{{studentIntentions.educationalProposer.name}}<br>
                                <span><b>Tipologia del corso: </b></span>{{studentIntentions.educationalProposer.typeOfCourse}}<br>
                                <span><b>Data di inizio del corso: </b></span>{{studentIntentions.educationalProposer.startdate| date:'mediumDate'}}
                            </td>
                            <td class="col-sm-1">{{studentIntentions.educationalProposer.price}}</td>
                            <td class="text-right col-sm-1">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="student-intentions.delete({id:studentIntentions.id})"
                                            class="btn btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div  class="col-sm-4">
                <form ng-show="!vm.success" name="form" role="form" ng-submit="vm.pay()" show-validation>
                    <!--<div class="page-header">
                        <h4>Carrello</h4>
                    </div>-->
                    <div class="jumbotron">
                        <div class="row col-sm-10">
                            <div class="row">
                                <h2>Carrello</h2>
                            </div>

                            <div class="row">
                                <h4>
                                    Totale carrello {{vm.totalPay}}
                                </h4>
                            </div>
                            <div class="row">
                                <h4>Modalità di pagamento</h4>
                                <div class="row">
                                    <input ng-disabled="vm.totalPay === 0"
                                           type="radio" name="PayOnLine" value="true"
                                           ng-model="vm.PayOnLine" required
                                           />  
                                    <label class="control-label">Pagamento OnLine</label>
                                </div>
                                <!--<div class="row">
                                    <input ng-disabled="vm.totalPay === 0"
                                           type="radio" name="PayOnLine" value="falseIT"
                                           ng-model="vm.PayOnLine" required
                                           />  
                                    <label class="control-label">Pagamento Differito in Italia</label>
                                </div>-->
                                <div class="row">
                                    <input ng-disabled="vm.totalPay === 0"
                                           type="radio" name="PayOnLine" value="falsEX"
                                           ng-model="vm.PayOnLine" required
                                           />  
                                    <label class="control-label">Pagamento Differito dall'estero</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button type="submit"
                                    class="btn btn-primary btn-sm col-sm-12"
                                    ng-disabled="form.$invalid"
                                    >
                                <!--ui-sref="student-intentions.pay"-->

                                <span class="glyphicon glyphicon-eur"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.pay"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <uib-accordion close-others="true">

                <uib-accordion-group>
                    <uib-accordion-heading>
                        <uib-accordion-title data-translate="xeniaApp.studentIntentions.home.coursesPay">
                            Corsi già acquistati
                        </uib-accordion-title>
                    </uib-accordion-heading>
                    <uib-accordion-body>
                        <table class="jh-table table table-striped">
                            <thead>
                                <tr>
                                    <th><span>Corso</span></th>
                                    <th><span>Informazioni Corso</span></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="studentIntentions in vm.studentIntentions track by studentIntentions.id">
                                <tr ng-if="studentIntentions.state === 'ENROLLED'">
                                    <td class="col-sm-1"><img class="img-responsive img-circle" src="content/images/italiano-2.jpg"/></td>
                                    <td class="col-sm-6"><span><b>Nome del corso: </b></span>{{studentIntentions.educationalProposer.name}}<br>
                                        <span><b>Tipologia del corso: </b></span>{{studentIntentions.educationalProposer.typeOfCourse}}<br>
                                        <span><b>Data di inizio del corso: </b></span>{{studentIntentions.educationalProposer.startdate| date:'mediumDate'}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </uib-accordion-body>

                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>

<div id="mydiv" class="mydiv" style="display:none">
    <div class="imageLoad">
        <img class="img-responsive img-circle" src="content/images/load.png"/>
    </div>
</div>
