<div>
    <h2 data-translate="xeniaApp.userInformation.home.title">User Informations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-information.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.userInformation.home.createLabel">
                        Create new User Information
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.userInformation.question">Question</span></th>
                    <th><span data-translate="xeniaApp.userInformation.user">User</span></th>
                    <th><span data-translate="xeniaApp.userInformation.response">Response</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userInformation in vm.userInformations track by userInformation.id">
                    <td><a ui-sref="user-information-detail({id:userInformation.id})">{{userInformation.id}}</a></td>
                    <td>
                        <a ui-sref="question-detail({id:userInformation.question.id})">{{userInformation.question.id}}</a>
                    </td>
                    <td>
                        {{userInformation.user.id}}
                    </td>
                    <td>
                        <a ui-sref="response-detail({id:userInformation.response.id})">{{userInformation.response.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-information-detail({id:userInformation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-information.edit({id:userInformation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-information.delete({id:userInformation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
