
<div>
    <h2><span data-translate="xeniaApp.userInformation.detail.title">User Information</span> {{vm.userInformation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.userInformation.question">Question</span></dt>
        <dd>
            <a ui-sref="question-detail({id:vm.userInformation.question.id})">{{vm.userInformation.question.id}}</a>
        </dd>
        <dt><span data-translate="xeniaApp.userInformation.user">User</span></dt>
        <dd>
            {{vm.userInformation.user.id}}
        </dd>
        <dt><span data-translate="xeniaApp.userInformation.response">Response</span></dt>
        <dd>
            <a ui-sref="response-detail({id:vm.userInformation.response.id})">{{vm.userInformation.response.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-information-detail.edit({id:vm.userInformation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
