
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserInformationLabel" data-translate="xeniaApp.userInformation.home.createOrEditLabel">Create or edit a User Information</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userInformation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userInformation.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.userInformation.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" ng-model="vm.userInformation.question" ng-options="question as question.id for question in vm.questions track by question.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="xeniaApp.userInformation.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.userInformation.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="xeniaApp.userInformation.response" for="field_response">Response</label>
            <select class="form-control" id="field_response" name="response" ng-model="vm.userInformation.response" ng-options="response as response.id for response in vm.responses track by response.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
