
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLevelLabel" data-translate="xeniaApp.studentLevel.home.createOrEditLabel">Create or edit a Student Level</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.studentLevel.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.studentLevel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentLevel.level" for="field_level">Level</label>
            <select class="form-control" name="level" ng-model="vm.studentLevel.level" id="field_level">
                <option value="A1" data-translate="xeniaApp.CourseLevel.A1">A1</option>
                <option value="A2" data-translate="xeniaApp.CourseLevel.A2">A2</option>
                <option value="B1" data-translate="xeniaApp.CourseLevel.B1">B1</option>
                <option value="B2" data-translate="xeniaApp.CourseLevel.B2">B2</option>
                <option value="C1" data-translate="xeniaApp.CourseLevel.C1">C1</option>
                <option value="C2" data-translate="xeniaApp.CourseLevel.C2">C2</option>
                <option value="SPE" data-translate="xeniaApp.CourseLevel.SPE">SPE</option>
                <option value="BA" data-translate="xeniaApp.CourseLevel.BA">BA</option>
                <option value="IN" data-translate="xeniaApp.CourseLevel.IN">IN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentLevel.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.studentLevel.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.studentLevel.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.studentLevel.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.studentLevel.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" ng-model="vm.studentLevel.student" ng-options="student as student.id for student in vm.students track by student.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
