<div>
    <h2 data-translate="xeniaApp.studentLevel.home.title">Student Levels</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="student-level.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.studentLevel.home.createLabel">
                        Create new Student Level
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.studentLevel.level">Level</span></th>
                    <th><span data-translate="xeniaApp.studentLevel.type">Type</span></th>
                    <th><span data-translate="xeniaApp.studentLevel.date">Date</span></th>
                    <th><span data-translate="xeniaApp.studentLevel.student">Student</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="studentLevel in vm.studentLevels track by studentLevel.id">
                    <td><a ui-sref="student-level-detail({id:studentLevel.id})">{{studentLevel.id}}</a></td>
                    <td data-translate="{{'xeniaApp.CourseLevel.' + studentLevel.level}}">{{studentLevel.level}}</td>
                    <td>{{studentLevel.type}}</td>
                        <td>{{studentLevel.date | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="student-detail({id:studentLevel.student.id})">{{studentLevel.student.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-level-detail({id:studentLevel.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-level.edit({id:studentLevel.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student-level.delete({id:studentLevel.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
