
<div>
    <h2><span data-translate="xeniaApp.studentLevel.detail.title">Student Level</span> {{vm.studentLevel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.studentLevel.level">Level</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.CourseLevel.' + vm.studentLevel.level}}">{{vm.studentLevel.level}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentLevel.type">Type</span></dt>
        <dd>
            <span>{{vm.studentLevel.type}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentLevel.date">Date</span></dt>
        <dd>
            <span>{{vm.studentLevel.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.studentLevel.student">Student</span></dt>
        <dd>
            <a ui-sref="student-detail({id:vm.studentLevel.student.id})">{{vm.studentLevel.student.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="student-level-detail.edit({id:vm.studentLevel.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
