
<div>
    <h2><span data-translate="xeniaApp.inserimentoPosizioneOutputType.detail.title">Inserimento Posizione Output Type</span> {{vm.inserimentoPosizioneOutputType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.inserimentoPosizioneOutputType.esito">Esito</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneOutputType.esito}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneOutputType.codiceErrore">Codice Errore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneOutputType.codiceErrore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneOutputType.descrizione">Descrizione</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneOutputType.descrizione}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneOutputType.identificativo_univoco_versamento">Identificativo Univoco Versamento</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneOutputType.identificativo_univoco_versamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneOutputType.codice_identificativo_presentazione">Codice Identificativo Presentazione</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneOutputType.codice_identificativo_presentazione}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="inserimento-posizione-output-type-detail.edit({id:vm.inserimentoPosizioneOutputType.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
