<div>
    <h2 data-translate="xeniaApp.inserimentoPosizioneOutputType.home.title">Inserimento Posizione Output Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="inserimento-posizione-output-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.inserimentoPosizioneOutputType.home.createLabel">
                        Create new Inserimento Posizione Output Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneOutputType.esito">Esito</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneOutputType.codiceErrore">Codice Errore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneOutputType.descrizione">Descrizione</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneOutputType.identificativo_univoco_versamento">Identificativo Univoco Versamento</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneOutputType.codice_identificativo_presentazione">Codice Identificativo Presentazione</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inserimentoPosizioneOutputType in vm.inserimentoPosizioneOutputTypes track by inserimentoPosizioneOutputType.id">
                    <td><a ui-sref="inserimento-posizione-output-type-detail({id:inserimentoPosizioneOutputType.id})">{{inserimentoPosizioneOutputType.id}}</a></td>
                    <td>{{inserimentoPosizioneOutputType.esito}}</td>
                    <td>{{inserimentoPosizioneOutputType.codiceErrore}}</td>
                    <td>{{inserimentoPosizioneOutputType.descrizione}}</td>
                    <td>{{inserimentoPosizioneOutputType.identificativo_univoco_versamento}}</td>
                    <td>{{inserimentoPosizioneOutputType.codice_identificativo_presentazione}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="inserimento-posizione-output-type-detail({id:inserimentoPosizioneOutputType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="inserimento-posizione-output-type.edit({id:inserimentoPosizioneOutputType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="inserimento-posizione-output-type.delete({id:inserimentoPosizioneOutputType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
