
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInserimentoPosizioneOutputTypeLabel" data-translate="xeniaApp.inserimentoPosizioneOutputType.home.createOrEditLabel">Create or edit a Inserimento Posizione Output Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inserimentoPosizioneOutputType.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inserimentoPosizioneOutputType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneOutputType.esito" for="field_esito">Esito</label>
            <input type="text" class="form-control" name="esito" id="field_esito"
                    ng-model="vm.inserimentoPosizioneOutputType.esito"
                    required />
            <div ng-show="editForm.esito.$invalid">
                <p class="help-block"
                    ng-show="editForm.esito.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneOutputType.codiceErrore" for="field_codiceErrore">Codice Errore</label>
            <input type="text" class="form-control" name="codiceErrore" id="field_codiceErrore"
                    ng-model="vm.inserimentoPosizioneOutputType.codiceErrore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneOutputType.descrizione" for="field_descrizione">Descrizione</label>
            <input type="text" class="form-control" name="descrizione" id="field_descrizione"
                    ng-model="vm.inserimentoPosizioneOutputType.descrizione"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneOutputType.identificativo_univoco_versamento" for="field_identificativo_univoco_versamento">Identificativo Univoco Versamento</label>
            <input type="text" class="form-control" name="identificativo_univoco_versamento" id="field_identificativo_univoco_versamento"
                    ng-model="vm.inserimentoPosizioneOutputType.identificativo_univoco_versamento"
                    ng-maxlength="35" />
            <div ng-show="editForm.identificativo_univoco_versamento.$invalid">
                <p class="help-block"
                    ng-show="editForm.identificativo_univoco_versamento.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneOutputType.codice_identificativo_presentazione" for="field_codice_identificativo_presentazione">Codice Identificativo Presentazione</label>
            <input type="text" class="form-control" name="codice_identificativo_presentazione" id="field_codice_identificativo_presentazione"
                    ng-model="vm.inserimentoPosizioneOutputType.codice_identificativo_presentazione"
                    ng-maxlength="35" />
            <div ng-show="editForm.codice_identificativo_presentazione.$invalid">
                <p class="help-block"
                    ng-show="editForm.codice_identificativo_presentazione.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
