<div>
    <h2 data-translate="xeniaApp.generalInformation.home.title">General Informations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="general-information.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.generalInformation.home.createLabel">
                        Create new General Information
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.generalInformation.question">Question</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="generalInformation in vm.generalInformations track by generalInformation.id">
                    <td><a ui-sref="general-information-detail({id:generalInformation.id})">{{generalInformation.id}}</a></td>
                    <td>{{generalInformation.question}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="general-information-detail({id:generalInformation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="general-information.edit({id:generalInformation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="general-information.delete({id:generalInformation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
