
<div>
    <h2><span data-translate="xeniaApp.lecturer.detail.title">Lecturer</span> {{vm.lecturer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.lecturer.name">Name</span></dt>
        <dd>
            <span>{{vm.lecturer.name}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.lecturer.surname">Surname</span></dt>
        <dd>
            <span>{{vm.lecturer.surname}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.lecturer.email">Email</span></dt>
        <dd>
            <span>{{vm.lecturer.email}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.lecturer.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{vm.lecturer.phoneNumber}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.lecturer.lecturerNumber">Lecturer Number</span></dt>
        <dd>
            <span>{{vm.lecturer.lecturerNumber}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.lecturer.user">User</span></dt>
        <dd>
            {{vm.lecturer.user.id}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="lecturer-detail.edit({id:vm.lecturer.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
