
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLecturerLabel" data-translate="xeniaApp.lecturer.home.createOrEditLabel">Create or edit a Lecturer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lecturer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.lecturer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.lecturer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.lecturer.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.lecturer.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.lecturer.surname"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.lecturer.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.lecturer.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.lecturer.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="vm.lecturer.phoneNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.lecturer.lecturerNumber" for="field_lecturerNumber">Lecturer Number</label>
            <input type="number" class="form-control" name="lecturerNumber" id="field_lecturerNumber"
                    ng-model="vm.lecturer.lecturerNumber"
                     />
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.lecturer.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.lecturer.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
