<div>
    <h2 data-translate="xeniaApp.lecturer.home.title">Lecturers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="lecturer.new"  has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.lecturer.home.createLabel">
                        Create new Lecturer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.lecturer.name">Name</span></th>
                    <th><span data-translate="xeniaApp.lecturer.surname">Surname</span></th>
                    <th><span data-translate="xeniaApp.lecturer.email">Email</span></th>
                    <th><span data-translate="xeniaApp.lecturer.phoneNumber">Phone Number</span></th>
                    <th><span data-translate="xeniaApp.lecturer.lecturerNumber">Lecturer Number</span></th>
                    <th><span data-translate="xeniaApp.lecturer.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lecturer in vm.lecturers track by lecturer.id">
                    <td><a ui-sref="lecturer-detail({id:lecturer.id})">{{lecturer.id}}</a></td>
                    <td>{{lecturer.name}}</td>
                    <td>{{lecturer.surname}}</td>
                    <td>{{lecturer.email}}</td>
                    <td>{{lecturer.phoneNumber}}</td>
                    <td>{{lecturer.lecturerNumber}}</td>
                    <td>
                        {{lecturer.user.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="lecturer-detail({id:lecturer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lecturer.edit({id:lecturer.id})"
                                    class="btn btn-primary btn-sm" has-authority="ROLE_LECTURER">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="lecturer.delete({id:lecturer.id})"
                                    class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
