
<div>
    <h2><span data-translate="xeniaApp.inserimentoPosizioneInputType.detail.title">Inserimento Posizione Input Type</span> {{vm.inserimentoPosizioneInputType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_beneficiario">Identificativo Beneficiario</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.identificativo_beneficiario}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.codice_servizio">Codice Servizio</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.codice_servizio}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.tipo_riferimento_creditore">Tipo Riferimento Creditore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.tipo_riferimento_creditore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.codice_riferimento_creditore">Codice Riferimento Creditore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.codice_riferimento_creditore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.codice_identificativo_presentazione">Codice Identificativo Presentazione</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.codice_identificativo_presentazione}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_univoco_versamento">Identificativo Univoco Versamento</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.identificativo_univoco_versamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.ckey_5">Ckey 5</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.ckey_5}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.ckey_6">Ckey 6</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.ckey_6}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.data_scadenza_pagamento">Data Scadenza Pagamento</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.data_scadenza_pagamento | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.importo">Importo</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.importo}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.causale">Causale</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.causale}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.savv">Savv</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.savv}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.tipo_id_debitore">Tipo Id Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.tipo_id_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_debitore">Identificativo Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.identificativo_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.anagrafica_debitore">Anagrafica Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.anagrafica_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.indirizzo_debitore">Indirizzo Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.indirizzo_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.cap_debitore">Cap Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.cap_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.localita_debitore">Localita Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.localita_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.nazione_debitore">Nazione Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.nazione_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.email_debitore">Email Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.email_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.civico_debitore">Civico Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.civico_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.provincia_debitore">Provincia Debitore</span></dt>
        <dd>
            <span>{{vm.inserimentoPosizioneInputType.provincia_debitore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inserimentoPosizioneInputType.InserimentoPosizioneResponse">Inserimento Posizione Response</span></dt>
        <dd>
            <a ui-sref="inserimento-posizione-output-type-detail({id:vm.inserimentoPosizioneInputType.inserimentoPosizioneResponse.id})">{{vm.inserimentoPosizioneInputType.inserimentoPosizioneResponse.identificativo_univoco_versamento}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="inserimento-posizione-input-type-detail.edit({id:vm.inserimentoPosizioneInputType.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
