
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInserimentoPosizioneInputTypeLabel" data-translate="xeniaApp.inserimentoPosizioneInputType.home.createOrEditLabel">Create or edit a Inserimento Posizione Input Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inserimentoPosizioneInputType.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inserimentoPosizioneInputType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_beneficiario" for="field_identificativo_beneficiario">Identificativo Beneficiario</label>
            <input type="text" class="form-control" name="identificativo_beneficiario" id="field_identificativo_beneficiario"
                    ng-model="vm.inserimentoPosizioneInputType.identificativo_beneficiario"
                    required ng-minlength="1" ng-maxlength="16" />
            <div ng-show="editForm.identificativo_beneficiario.$invalid">
                <p class="help-block"
                    ng-show="editForm.identificativo_beneficiario.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.identificativo_beneficiario.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.identificativo_beneficiario.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.codice_servizio" for="field_codice_servizio">Codice Servizio</label>
            <input type="number" class="form-control" name="codice_servizio" id="field_codice_servizio"
                    ng-model="vm.inserimentoPosizioneInputType.codice_servizio"
                    required min="1" max="9999999" />
            <div ng-show="editForm.codice_servizio.$invalid">
                <p class="help-block"
                    ng-show="editForm.codice_servizio.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codice_servizio.$error.min" data-translate="entity.validation.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.codice_servizio.$error.max" data-translate="entity.validation.max" translate-value-max="9999999">
                    This field cannot be more than 9999999.
                </p>
                <p class="help-block"
                    ng-show="editForm.codice_servizio.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.tipo_riferimento_creditore" for="field_tipo_riferimento_creditore">Tipo Riferimento Creditore</label>
            <input type="text" class="form-control" name="tipo_riferimento_creditore" id="field_tipo_riferimento_creditore"
                    ng-model="vm.inserimentoPosizioneInputType.tipo_riferimento_creditore"
                    required ng-maxlength="35" />
            <div ng-show="editForm.tipo_riferimento_creditore.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipo_riferimento_creditore.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tipo_riferimento_creditore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.codice_riferimento_creditore" for="field_codice_riferimento_creditore">Codice Riferimento Creditore</label>
            <input type="text" class="form-control" name="codice_riferimento_creditore" id="field_codice_riferimento_creditore"
                    ng-model="vm.inserimentoPosizioneInputType.codice_riferimento_creditore"
                    required ng-maxlength="35" />
            <div ng-show="editForm.codice_riferimento_creditore.$invalid">
                <p class="help-block"
                    ng-show="editForm.codice_riferimento_creditore.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.codice_riferimento_creditore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.codice_identificativo_presentazione" for="field_codice_identificativo_presentazione">Codice Identificativo Presentazione</label>
            <input type="text" class="form-control" name="codice_identificativo_presentazione" id="field_codice_identificativo_presentazione"
                    ng-model="vm.inserimentoPosizioneInputType.codice_identificativo_presentazione"
                    ng-maxlength="35" />
            <div ng-show="editForm.codice_identificativo_presentazione.$invalid">
                <p class="help-block"
                    ng-show="editForm.codice_identificativo_presentazione.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_univoco_versamento" for="field_identificativo_univoco_versamento">Identificativo Univoco Versamento</label>
            <input type="text" class="form-control" name="identificativo_univoco_versamento" id="field_identificativo_univoco_versamento"
                    ng-model="vm.inserimentoPosizioneInputType.identificativo_univoco_versamento"
                    ng-maxlength="35" />
            <div ng-show="editForm.identificativo_univoco_versamento.$invalid">
                <p class="help-block"
                    ng-show="editForm.identificativo_univoco_versamento.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.ckey_5" for="field_ckey_5">Ckey 5</label>
            <input type="text" class="form-control" name="ckey_5" id="field_ckey_5"
                    ng-model="vm.inserimentoPosizioneInputType.ckey_5"
                    ng-maxlength="35" />
            <div ng-show="editForm.ckey_5.$invalid">
                <p class="help-block"
                    ng-show="editForm.ckey_5.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.ckey_6" for="field_ckey_6">Ckey 6</label>
            <input type="text" class="form-control" name="ckey_6" id="field_ckey_6"
                    ng-model="vm.inserimentoPosizioneInputType.ckey_6"
                    ng-maxlength="35" />
            <div ng-show="editForm.ckey_6.$invalid">
                <p class="help-block"
                    ng-show="editForm.ckey_6.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.data_scadenza_pagamento" for="field_data_scadenza_pagamento">Data Scadenza Pagamento</label>
                <div class="input-group">
                    <input id="field_data_scadenza_pagamento" type="text" class="form-control" name="data_scadenza_pagamento" uib-datepicker-popup="{{dateformat}}" ng-model="vm.inserimentoPosizioneInputType.data_scadenza_pagamento" is-open="vm.datePickerOpenStatus.data_scadenza_pagamento"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('data_scadenza_pagamento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.importo" for="field_importo">Importo</label>
            <input type="number" class="form-control" name="importo" id="field_importo"
                    ng-model="vm.inserimentoPosizioneInputType.importo"
                    required min="0.01" max="9999999999.99" />
            <div ng-show="editForm.importo.$invalid">
                <p class="help-block"
                    ng-show="editForm.importo.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.importo.$error.min" data-translate="entity.validation.min" translate-value-min="0.01">
                    This field should be more than 0.01.
                </p>
                <p class="help-block"
                    ng-show="editForm.importo.$error.max" data-translate="entity.validation.max" translate-value-max="9999999999.99">
                    This field cannot be more than 9999999999.99.
                </p>
                <p class="help-block"
                    ng-show="editForm.importo.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.causale" for="field_causale">Causale</label>
            <input type="text" class="form-control" name="causale" id="field_causale"
                    ng-model="vm.inserimentoPosizioneInputType.causale"
                    required ng-minlength="1" ng-maxlength="140" />
            <div ng-show="editForm.causale.$invalid">
                <p class="help-block"
                    ng-show="editForm.causale.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.causale.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.causale.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="140">
                    This field cannot be longer than 140 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.savv" for="field_savv">Savv</label>
            <input type="text" class="form-control" name="savv" id="field_savv"
                    ng-model="vm.inserimentoPosizioneInputType.savv"
                    ng-maxlength="6" />
            <div ng-show="editForm.savv.$invalid">
                <p class="help-block"
                    ng-show="editForm.savv.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="6">
                    This field cannot be longer than 6 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.tipo_id_debitore" for="field_tipo_id_debitore">Tipo Id Debitore</label>
            <input type="text" class="form-control" name="tipo_id_debitore" id="field_tipo_id_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.tipo_id_debitore"
                    ng-maxlength="2" />
            <div ng-show="editForm.tipo_id_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipo_id_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2">
                    This field cannot be longer than 2 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_debitore" for="field_identificativo_debitore">Identificativo Debitore</label>
            <input type="text" class="form-control" name="identificativo_debitore" id="field_identificativo_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.identificativo_debitore"
                    ng-maxlength="35" />
            <div ng-show="editForm.identificativo_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.identificativo_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.anagrafica_debitore" for="field_anagrafica_debitore">Anagrafica Debitore</label>
            <input type="text" class="form-control" name="anagrafica_debitore" id="field_anagrafica_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.anagrafica_debitore"
                    ng-maxlength="50" />
            <div ng-show="editForm.anagrafica_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.anagrafica_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.indirizzo_debitore" for="field_indirizzo_debitore">Indirizzo Debitore</label>
            <input type="text" class="form-control" name="indirizzo_debitore" id="field_indirizzo_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.indirizzo_debitore"
                    ng-maxlength="50" />
            <div ng-show="editForm.indirizzo_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.indirizzo_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.cap_debitore" for="field_cap_debitore">Cap Debitore</label>
            <input type="text" class="form-control" name="cap_debitore" id="field_cap_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.cap_debitore"
                    ng-maxlength="5" />
            <div ng-show="editForm.cap_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.cap_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.localita_debitore" for="field_localita_debitore">Localita Debitore</label>
            <input type="text" class="form-control" name="localita_debitore" id="field_localita_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.localita_debitore"
                    ng-maxlength="35" />
            <div ng-show="editForm.localita_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.localita_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="35">
                    This field cannot be longer than 35 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.nazione_debitore" for="field_nazione_debitore">Nazione Debitore</label>
            <input type="text" class="form-control" name="nazione_debitore" id="field_nazione_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.nazione_debitore"
                    ng-maxlength="2" />
            <div ng-show="editForm.nazione_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.nazione_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2">
                    This field cannot be longer than 2 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.email_debitore" for="field_email_debitore">Email Debitore</label>
            <input type="text" class="form-control" name="email_debitore" id="field_email_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.email_debitore"
                    ng-maxlength="70" />
            <div ng-show="editForm.email_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.email_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="70">
                    This field cannot be longer than 70 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.civico_debitore" for="field_civico_debitore">Civico Debitore</label>
            <input type="text" class="form-control" name="civico_debitore" id="field_civico_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.civico_debitore"
                    ng-maxlength="5" />
            <div ng-show="editForm.civico_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.civico_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inserimentoPosizioneInputType.provincia_debitore" for="field_provincia_debitore">Provincia Debitore</label>
            <input type="text" class="form-control" name="provincia_debitore" id="field_provincia_debitore"
                    ng-model="vm.inserimentoPosizioneInputType.provincia_debitore"
                    ng-maxlength="2" />
            <div ng-show="editForm.provincia_debitore.$invalid">
                <p class="help-block"
                    ng-show="editForm.provincia_debitore.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2">
                    This field cannot be longer than 2 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.inserimentoPosizioneInputType.InserimentoPosizioneResponse" for="field_InserimentoPosizioneResponse">Inserimento Posizione Response</label>
            <select class="form-control" id="field_InserimentoPosizioneResponse" name="InserimentoPosizioneResponse" ng-model="vm.inserimentoPosizioneInputType.inserimentoPosizioneResponse" ng-options="inserimentoPosizioneOutputType as inserimentoPosizioneOutputType.identificativo_univoco_versamento for inserimentoPosizioneOutputType in vm.inserimentoposizioneresponses | orderBy:'id' track by inserimentoPosizioneOutputType.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.InserimentoPosizioneResponse.$invalid">
            <p class="help-block"
                ng-show="editForm.InserimentoPosizioneResponse.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
