<div>
    <h2 data-translate="xeniaApp.inserimentoPosizioneInputType.home.title">Inserimento Posizione Input Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="inserimento-posizione-input-type.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.inserimentoPosizioneInputType.home.createLabel">
                        Create new Inserimento Posizione Input Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_beneficiario">Identificativo Beneficiario</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.codice_servizio">Codice Servizio</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.tipo_riferimento_creditore">Tipo Riferimento Creditore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.codice_riferimento_creditore">Codice Riferimento Creditore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.codice_identificativo_presentazione">Codice Identificativo Presentazione</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_univoco_versamento">Identificativo Univoco Versamento</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.ckey_5">Ckey 5</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.ckey_6">Ckey 6</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.data_scadenza_pagamento">Data Scadenza Pagamento</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.importo">Importo</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.causale">Causale</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.savv">Savv</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.tipo_id_debitore">Tipo Id Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.identificativo_debitore">Identificativo Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.anagrafica_debitore">Anagrafica Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.indirizzo_debitore">Indirizzo Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.cap_debitore">Cap Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.localita_debitore">Localita Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.nazione_debitore">Nazione Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.email_debitore">Email Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.civico_debitore">Civico Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.provincia_debitore">Provincia Debitore</span></th>
                    <th><span data-translate="xeniaApp.inserimentoPosizioneInputType.InserimentoPosizioneResponse">Inserimento Posizione Response</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inserimentoPosizioneInputType in vm.inserimentoPosizioneInputTypes track by inserimentoPosizioneInputType.id">
                    <td><a ui-sref="inserimento-posizione-input-type-detail({id:inserimentoPosizioneInputType.id})">{{inserimentoPosizioneInputType.id}}</a></td>
                    <td>{{inserimentoPosizioneInputType.identificativo_beneficiario}}</td>
                    <td>{{inserimentoPosizioneInputType.codice_servizio}}</td>
                    <td>{{inserimentoPosizioneInputType.tipo_riferimento_creditore}}</td>
                    <td>{{inserimentoPosizioneInputType.codice_riferimento_creditore}}</td>
                    <td>{{inserimentoPosizioneInputType.codice_identificativo_presentazione}}</td>
                    <td>{{inserimentoPosizioneInputType.identificativo_univoco_versamento}}</td>
                    <td>{{inserimentoPosizioneInputType.ckey_5}}</td>
                    <td>{{inserimentoPosizioneInputType.ckey_6}}</td>
                        <td>{{inserimentoPosizioneInputType.data_scadenza_pagamento | date:'mediumDate'}}</td>
                    <td>{{inserimentoPosizioneInputType.importo}}</td>
                    <td>{{inserimentoPosizioneInputType.causale}}</td>
                    <td>{{inserimentoPosizioneInputType.savv}}</td>
                    <td>{{inserimentoPosizioneInputType.tipo_id_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.identificativo_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.anagrafica_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.indirizzo_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.cap_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.localita_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.nazione_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.email_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.civico_debitore}}</td>
                    <td>{{inserimentoPosizioneInputType.provincia_debitore}}</td>
                    <td>
                        <a ui-sref="inserimento-posizione-output-type-detail({id:inserimentoPosizioneInputType.inserimentoPosizioneResponse.id})">{{inserimentoPosizioneInputType.inserimentoPosizioneResponse.identificativo_univoco_versamento}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="inserimento-posizione-input-type-detail({id:inserimentoPosizioneInputType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="inserimento-posizione-input-type.edit({id:inserimentoPosizioneInputType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="inserimento-posizione-input-type.delete({id:inserimentoPosizioneInputType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
