<uib-accordion close-others="true">
    <div ng-repeat="(i, information) in vm.questions">
        <uib-accordion-group is-open="open">
            <uib-accordion-heading>
                <uib-accordion-title data-translate="xeniaApp.userInformation.{{information.id}}.title">
                    {{information.question}}
                </uib-accordion-title>
            </uib-accordion-heading>
            <uib-accordion-body>
                <div ng-repeat="(j, res) in vm.response">
                    <div ng-if="res.question.id === information.id && res.question.typeOfResponse === 'Single'">
                        <input type="radio" name="{{information.id}}" id="{{information.id}}" value="true" ng-model="res.selected" ng-click="vm.changeRadio(res.id, res.question.id)" required>
                        <label class="control-label" data-translate="xeniaApp.userInformation.{{information.id}}.response.{{res.id}}"></label>
                    </div>
                    <div ng-if="res.question.id === information.id && res.question.typeOfResponse === 'Multiple'">
                        <input type="checkbox" name="{{information.id}}" id="{{information.id}}" ng-model="res.selected" ng-false-value="false" ng-true-value="true" ng-Required="!vm.someSelected(res.question.id)">
                        <label class="control-label" data-translate="xeniaApp.userInformation.{{information.id}}.response.{{res.id}}"></label>
                    </div>
                </div>
            </uib-accordion-body>

        </uib-accordion-group>
    </div>
</uib-accordion>
