
<div>
    <h2><span data-translate="xeniaApp.response.detail.title">Response</span> {{vm.response.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.response.response">Response</span></dt>
        <dd>
            <span>{{vm.response.response}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.response.value">Value</span></dt>
        <dd>
            <span>{{vm.response.value}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.response.question">Question</span></dt>
        <dd>
            <a ui-sref="question-detail({id:vm.response.question.id})">{{vm.response.question.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="response-detail.edit({id:vm.response.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
