<div>
    <h2 data-translate="xeniaApp.response.home.title">Responses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="response.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.response.home.createLabel">
                        Create new Response
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.response.response">Response</span></th>
                    <th><span data-translate="xeniaApp.response.value">Value</span></th>
                    <th><span data-translate="xeniaApp.response.question">Question</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="response in vm.responses track by response.id">
                    <td><a ui-sref="response-detail({id:response.id})">{{response.id}}</a></td>
                    <td>{{response.response}}</td>
                    <td>{{response.value}}</td>
                    <td>
                        <a ui-sref="question-detail({id:response.question.id})">{{response.question.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="response-detail({id:response.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="response.edit({id:response.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="response.delete({id:response.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
