<div>
    <h2 data-translate="xeniaApp.inviaCarrPosOutput.home.title">Invia Carr Pos Outputs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="invia-carr-pos-output.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.inviaCarrPosOutput.home.createLabel">
                        Create new Invia Carr Pos Output
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosOutput.esito">Esito</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosOutput.codiceErrore">Codice Errore</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosOutput.descrizione">Descrizione</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosOutput.idTransazione">Id Transazione</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosOutput.url">Url</span></th>
                    <th><span data-translate="xeniaApp.inviaCarrPosOutput.iuvLista">Iuv Lista</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="inviaCarrPosOutput in vm.inviaCarrPosOutputs track by inviaCarrPosOutput.id">
                    <td><a ui-sref="invia-carr-pos-output-detail({id:inviaCarrPosOutput.id})">{{inviaCarrPosOutput.id}}</a></td>
                    <td>{{inviaCarrPosOutput.esito}}</td>
                    <td>{{inviaCarrPosOutput.codiceErrore}}</td>
                    <td>{{inviaCarrPosOutput.descrizione}}</td>
                    <td>{{inviaCarrPosOutput.idTransazione}}</td>
                    <td>{{inviaCarrPosOutput.url}}</td>
                    <td>{{inviaCarrPosOutput.iuvLista}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="invia-carr-pos-output-detail({id:inviaCarrPosOutput.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="invia-carr-pos-output.edit({id:inviaCarrPosOutput.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="invia-carr-pos-output.delete({id:inviaCarrPosOutput.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
