
<div>
    <h2><span data-translate="xeniaApp.inviaCarrPosOutput.detail.title">Invia Carr Pos Output</span> {{vm.inviaCarrPosOutput.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.inviaCarrPosOutput.esito">Esito</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosOutput.esito}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosOutput.codiceErrore">Codice Errore</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosOutput.codiceErrore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosOutput.descrizione">Descrizione</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosOutput.descrizione}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosOutput.idTransazione">Id Transazione</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosOutput.idTransazione}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosOutput.url">Url</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosOutput.url}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.inviaCarrPosOutput.iuvLista">Iuv Lista</span></dt>
        <dd>
            <span>{{vm.inviaCarrPosOutput.iuvLista}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="invia-carr-pos-output-detail.edit({id:vm.inviaCarrPosOutput.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
