
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInviaCarrPosOutputLabel" data-translate="xeniaApp.inviaCarrPosOutput.home.createOrEditLabel">Create or edit a Invia Carr Pos Output</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inviaCarrPosOutput.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inviaCarrPosOutput.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosOutput.esito" for="field_esito">Esito</label>
            <input type="text" class="form-control" name="esito" id="field_esito"
                    ng-model="vm.inviaCarrPosOutput.esito"
                    required />
            <div ng-show="editForm.esito.$invalid">
                <p class="help-block"
                    ng-show="editForm.esito.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosOutput.codiceErrore" for="field_codiceErrore">Codice Errore</label>
            <input type="text" class="form-control" name="codiceErrore" id="field_codiceErrore"
                    ng-model="vm.inviaCarrPosOutput.codiceErrore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosOutput.descrizione" for="field_descrizione">Descrizione</label>
            <input type="text" class="form-control" name="descrizione" id="field_descrizione"
                    ng-model="vm.inviaCarrPosOutput.descrizione"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosOutput.idTransazione" for="field_idTransazione">Id Transazione</label>
            <input type="text" class="form-control" name="idTransazione" id="field_idTransazione"
                    ng-model="vm.inviaCarrPosOutput.idTransazione"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosOutput.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.inviaCarrPosOutput.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.inviaCarrPosOutput.iuvLista" for="field_iuvLista">Iuv Lista</label>
            <input type="text" class="form-control" name="iuvLista" id="field_iuvLista"
                    ng-model="vm.inviaCarrPosOutput.iuvLista"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
