<header id="myCarousel" class="carousel slide">

    <div class="carousel-inner">
        <div uib-carousel active="active" interval="cc.myInterval" no-wrap="cc.noWrapSlides">
            <div uib-slide ng-repeat="slide in cc.slides track by slide.id" index="slide.id">
                
                <img ng-src="{{slide.image}}" class="fill">
                <div class="carousel-caption">
                    <!--<h4>Slide {{slide.id}}</h4>-->
                    <h4>{{cc.carouselTitle}}</h4>
                    <p>{{slide.text}}</p>
                </div>
                <div class="carousel-caption col-xs-12 no-padding-right"  scroll-to="content-id">
                    <a ui-sref="educational-proposer" class="btn btn-primary btn-lg" role="button">
                        <span class="glyphicon glyphicon-info-sign" ></span>
                        <!--<span  data-translate="xeniaApp.student.home.createLabel"> Da inserire la traduzione
                            Get More Info
                        </span> -->
                        Get More Info
                    </a>
                </div>
            </div>
        </div>
    </div>


</header>
<!--
<div class="row">
        <div class="col-md-6">
            <button data-translate="home.carousel.add" type="button" class="btn btn-info" ng-click="cc.addSlide()">Add Slide</button>
            <button type="button" class="btn btn-info" ng-click="cc.randomize()"  data-translate="home.carousel.randomize">Randomize slides</button>
            <div class="checkbox">
                <label>
                    
                    <input type="checkbox" ng-model="cc.noWrapSlides">
                 <span  data-translate="home.carousel.disable">
                    Disable Slide Looping
                    </span>  
                </label>
                 
            </div>
        </div>
        <div class="col-md-6">
            <p  data-translate="home.carousel.interval">Interval, in milliseconds:</p> <input type="number" class="form-control" ng-model="cc.myInterval">
            <br /><p  data-translate="home.carousel.info">Enter a negative number or 0 to stop the interval.</p>
        </div>
    </div> -->