.navbar.sidenavbar {
  z-index: 10001;
  padding-left: 60px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .navbar.sidenavbar  .container,
  .navbar.sidenavbar  .container-fluid {
    z-index: 10001; }
    .navbar.sidenavbar  .container .navbar-brand,
    .navbar.sidenavbar  .container-fluid .navbar-brand {
      height: 60px;
      line-height: 60px;
      margin-left: 0px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      padding: 0;
      font-size: 1.5em; }
      .navbar.sidenavbar > .container .navbar-brand .fa-angle-right,
      .navbar.sidenavbar > .container-fluid .navbar-brand .fa-angle-right {
        margin-left: 5px;
        margin-right: 5px; }
    .navbar.sidenavbar > .container .navbar-expand-toggle,
    .navbar.sidenavbar > .container-fluid .navbar-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      float: left;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75; }
    .navbar.sidenavbar > .container .navbar-expand-toggle .icon,
    .navbar.sidenavbar > .container-fluid .navbar-expand-toggle .icon {
      font-size: 1.4em; }
    .navbar.sidenavbar > .container .navbar-right-expand-toggle,
    .navbar.sidenavbar > .container-fluid .navbar-right-expand-toggle {
      width: 60px;
      height: 60px;
      background-color: transparent;
      border: 0px;
      position: absolute;
      right: 0;
      -moz-transition: all 0.25s linear;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      opacity: 0.75; }
    .navbar.sidenavbar > .container .navbar-right-expand-toggle .icon,
    .navbar.sidenavbar > .container-fluid .navbar-right-expand-toggle .icon {
      font-size: 1.4em; }
  .navbar.sidenavbar .navbar-breadcrumb {
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
    float: left; }
    .navbar.sidenavbar  .navbar-breadcrumb > li {
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 1.5em; }
  .navbar.sidenavbar  .navbar-nav > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px 0px 20px; }
  .navbar.sidenavbar  .dropdown-menu {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    z-index: -1;
    position: absolute; }
    .navbar.sidenavbar .dropdown-menu .title {
      font-family: 'Roboto Condensed', sans-serif;
      padding: 5px 10px;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
    .navbar.sidenavbar .dropdown-menu .message {
      font-family: 'Roboto Condensed', sans-serif;
      text-align: center;
      padding: 10px 20px; }
    .navbar.sidenavbar  .dropdown-menu .notifications.list-group {
      list-style: none;
      padding: 0;
      margin: 0; }
      .navbar.sidenavbar  .dropdown-menu .notifications.list-group .list-group-item {
        min-width: 250px;
        padding: 8px;
        border: 0;
        border-bottom: 1px solid #EEE; }
        .navbar.sidenavbar  .dropdown-menu .notifications.list-group .list-group-item .icon {
          margin-right: 5px; }
      .navbar.sidenavbar  .dropdown-menu .notifications.list-group .badge {
        border-radius: 1em; }
      .navbar.sidenavbar  .dropdown-menu .notifications.list-group .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; }
      .navbar.sidenavbar .dropdown-menu .notifications.list-group .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px; }
      .navbar.sidenavbar  .dropdown-menu .notifications.list-group a.list-group-item:hover {
        cursor: pointer; }
  .navbar.sidenavbar  .dropdown.profile .dropdown-menu {
    width: 305px;
    padding-bottom: 0px;
    text-align: center; }
    .navbar.sidenavbar .dropdown.profile .dropdown-menu li.profile-img {
      padding: 0px;
      max-height: 300px;
      overflow: hidden; }
      .navbar.sidenavbar  .dropdown.profile .dropdown-menu li.profile-img img.profile-img {
        width: 100%;
        height: auto;
        margin: 0px;
        border: 0; }
    .navbar.sidenavbar  .dropdown.profile .dropdown-menu .profile-info {
      font-family: 'Roboto Condensed', sans-serif;
      padding: 15px; }
      .navbar.sidenavbar  .dropdown.profile .dropdown-menu .profile-info .username {
        font-size: 1.8em; }
		
	.navbar.sidenavbar .navbar-header {
        width: 100%;
        border-bottom: 0px solid #e7e7e7; }	
	.side-navbar-menu.expanded {
  width: 300px;
  overflow-y: auto; }
.side-navbar-menu{
	//background-color:red;
        background: rgba(255, 255, 255, 0.6) ;
      overflow-y: none;
      z-index: 1000;
      position: fixed;
	  top: 50px;
      width: 60px;
      height: 100%;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
.side-navbar-menu:hover {
        overflow-y: auto; }
.navbar.sidenavbar{
        border: none;
        padding-left: 0px; }
		
.navbar.sidenavbar .navbar-nav li {
        display: block;
        width: 100%;
        overflow: hidden; }


		
.navbar.sidenavbar .navbar-nav li a {
          font-family: 'Roboto Condensed', sans-serif;
          padding: 0 10px 0 10px;
          height: 46px;
          line-height: 46px;
          display: block;
          white-space: nowrap; }
          .navbar.sidenavbar .navbar-nav li a .icon {
            margin-left: 0px;
            width: 38px;
            text-align: center;
            font-size: 1.1em;
            display: inline-block; }
          .navbar.sidenavbar .navbar-nav li a .title {
            width: 0px;
            white-space: nowrap;
            padding-left: 6px;
            display: none;
			}
.navbar.sidenavbar .navbar-nav.expanded li a .title {
	display:inline !important;
}
.side-navbar-menu:hover {
      width: 300px; }
.badge.blink{
    background-color: #FF0000;
    animation: blink-animation 2s steps(3, start) infinite;
  -webkit-animation: blink-animation 2s steps(3, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
