
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDatiSingVersListaLabel" data-translate="xeniaApp.datiSingVersLista.home.createOrEditLabel">Create or edit a Dati Sing Vers Lista</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.datiSingVersLista.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.datiSingVersLista.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.importoSingoloVersamento" for="field_importoSingoloVersamento">Importo Singolo Versamento</label>
            <input type="number" class="form-control" name="importoSingoloVersamento" id="field_importoSingoloVersamento"
                    ng-model="vm.datiSingVersLista.importoSingoloVersamento"
                    required />
            <div ng-show="editForm.importoSingoloVersamento.$invalid">
                <p class="help-block"
                    ng-show="editForm.importoSingoloVersamento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.importoSingoloVersamento.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.commissioniCaricoPa" for="field_commissioniCaricoPa">Commissioni Carico Pa</label>
            <input type="number" class="form-control" name="commissioniCaricoPa" id="field_commissioniCaricoPa"
                    ng-model="vm.datiSingVersLista.commissioniCaricoPa"
                    required />
            <div ng-show="editForm.commissioniCaricoPa.$invalid">
                <p class="help-block"
                    ng-show="editForm.commissioniCaricoPa.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.commissioniCaricoPa.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.ibanAccredito" for="field_ibanAccredito">Iban Accredito</label>
            <input type="text" class="form-control" name="ibanAccredito" id="field_ibanAccredito"
                    ng-model="vm.datiSingVersLista.ibanAccredito"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.bicAccredito" for="field_bicAccredito">Bic Accredito</label>
            <input type="text" class="form-control" name="bicAccredito" id="field_bicAccredito"
                    ng-model="vm.datiSingVersLista.bicAccredito"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.ibanAppoggio" for="field_ibanAppoggio">Iban Appoggio</label>
            <input type="text" class="form-control" name="ibanAppoggio" id="field_ibanAppoggio"
                    ng-model="vm.datiSingVersLista.ibanAppoggio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.bicAppoggio" for="field_bicAppoggio">Bic Appoggio</label>
            <input type="text" class="form-control" name="bicAppoggio" id="field_bicAppoggio"
                    ng-model="vm.datiSingVersLista.bicAppoggio"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.credenzialiPagatore" for="field_credenzialiPagatore">Credenziali Pagatore</label>
            <input type="text" class="form-control" name="credenzialiPagatore" id="field_credenzialiPagatore"
                    ng-model="vm.datiSingVersLista.credenzialiPagatore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="xeniaApp.datiSingVersLista.caulsaleVersamento" for="field_caulsaleVersamento">Caulsale Versamento</label>
            <input type="text" class="form-control" name="caulsaleVersamento" id="field_caulsaleVersamento"
                    ng-model="vm.datiSingVersLista.caulsaleVersamento"
                    required />
            <div ng-show="editForm.caulsaleVersamento.$invalid">
                <p class="help-block"
                    ng-show="editForm.caulsaleVersamento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="xeniaApp.datiSingVersLista.inviaCarrPosLista" for="field_inviaCarrPosLista">Invia Carr Pos Lista</label>
            <select class="form-control" id="field_inviaCarrPosLista" name="inviaCarrPosLista" ng-model="vm.datiSingVersLista.inviaCarrPosLista" ng-options="inviaCarrPosLista as inviaCarrPosLista.id for inviaCarrPosLista in vm.inviacarrposlistas track by inviaCarrPosLista.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
