
<div>
    <h2><span data-translate="xeniaApp.datiSingVersLista.detail.title">Dati Sing Vers Lista</span> {{vm.datiSingVersLista.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.datiSingVersLista.importoSingoloVersamento">Importo Singolo Versamento</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.importoSingoloVersamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.commissioniCaricoPa">Commissioni Carico Pa</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.commissioniCaricoPa}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.ibanAccredito">Iban Accredito</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.ibanAccredito}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.bicAccredito">Bic Accredito</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.bicAccredito}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.ibanAppoggio">Iban Appoggio</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.ibanAppoggio}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.bicAppoggio">Bic Appoggio</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.bicAppoggio}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.credenzialiPagatore">Credenziali Pagatore</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.credenzialiPagatore}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.caulsaleVersamento">Caulsale Versamento</span></dt>
        <dd>
            <span>{{vm.datiSingVersLista.caulsaleVersamento}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.datiSingVersLista.inviaCarrPosLista">Invia Carr Pos Lista</span></dt>
        <dd>
            <a ui-sref="invia-carr-pos-lista-detail({id:vm.datiSingVersLista.inviaCarrPosLista.id})">{{vm.datiSingVersLista.inviaCarrPosLista.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="dati-sing-vers-lista-detail.edit({id:vm.datiSingVersLista.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
