<div>
    <h2 data-translate="xeniaApp.datiSingVersLista.home.title">Dati Sing Vers Listas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dati-sing-vers-lista.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.datiSingVersLista.home.createLabel">
                        Create new Dati Sing Vers Lista
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.importoSingoloVersamento">Importo Singolo Versamento</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.commissioniCaricoPa">Commissioni Carico Pa</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.ibanAccredito">Iban Accredito</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.bicAccredito">Bic Accredito</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.ibanAppoggio">Iban Appoggio</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.bicAppoggio">Bic Appoggio</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.credenzialiPagatore">Credenziali Pagatore</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.caulsaleVersamento">Caulsale Versamento</span></th>
                    <th><span data-translate="xeniaApp.datiSingVersLista.inviaCarrPosLista">Invia Carr Pos Lista</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="datiSingVersLista in vm.datiSingVersListas track by datiSingVersLista.id">
                    <td><a ui-sref="dati-sing-vers-lista-detail({id:datiSingVersLista.id})">{{datiSingVersLista.id}}</a></td>
                    <td>{{datiSingVersLista.importoSingoloVersamento}}</td>
                    <td>{{datiSingVersLista.commissioniCaricoPa}}</td>
                    <td>{{datiSingVersLista.ibanAccredito}}</td>
                    <td>{{datiSingVersLista.bicAccredito}}</td>
                    <td>{{datiSingVersLista.ibanAppoggio}}</td>
                    <td>{{datiSingVersLista.bicAppoggio}}</td>
                    <td>{{datiSingVersLista.credenzialiPagatore}}</td>
                    <td>{{datiSingVersLista.caulsaleVersamento}}</td>
                    <td>
                        <a ui-sref="invia-carr-pos-lista-detail({id:datiSingVersLista.inviaCarrPosLista.id})">{{datiSingVersLista.inviaCarrPosLista.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dati-sing-vers-lista-detail({id:datiSingVersLista.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dati-sing-vers-lista.edit({id:datiSingVersLista.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dati-sing-vers-lista.delete({id:datiSingVersLista.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
