
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel" data-translate="xeniaApp.student.home.createOrEditLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.student.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.student.id" readonly />
        </div>

        <!--<div class="form-group">
            <label class="control-label">Knowledge Of Italian</label>
            <input type="text" class="form-control" name="knowledge" id="field_knowledge"
                   ng-model="vm.student.knowledgeOfItalian" readonly
                   />
        </div>-->

        <uib-accordion has-any-authority="ROLE_ADMIN, ROLE_USER, ROLE_STUDENT">
            <uib-accordion-group>
                <uib-accordion-heading>
                    <uib-accordion-title data-translate="xeniaApp.student.personalData">
                        Dati Anagrafici
                    </uib-accordion-title>
                </uib-accordion-heading>
                <uib-accordion-body>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.registrationDate" for="field_registrationDate">Registration Date</label>
                        <!--<div class="input-group">-->
                        <input id="field_registrationDate" type="text" class="form-control" name="registrationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.student.registrationDate" is-open="vm.datePickerOpenStatus.registrationDate"
                               readonly/>
                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('registrationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span> -->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.studentNumber" for="field_studentNumber">Student Number</label>
                        <input type="number" class="form-control" name="studentNumber" id="field_studentNumber"
                               ng-model="vm.student.studentNumber"
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.name" for="field_name">Name</label>
                        <input type="text" class="form-control" name="name" id="field_name"
                               ng-model="vm.student.name"
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.surname" for="field_surname">Surname</label>
                        <input type="text" class="form-control" name="surname" id="field_surname"
                               ng-model="vm.student.surname"
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.sex" for="field_sex">Sex</label>
                        <select class="form-control" name="sex" ng-model="vm.student.sex" id="field_sex">
                            <option value="MALE" data-translate="xeniaApp.Sex.MALE">MALE</option>
                            <option value="FEMALE" data-translate="xeniaApp.Sex.FEMALE">FEMALE</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                        <div class="input-group">
                            <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" uib-datepicker-popup="{{dateformat}}" ng-model="vm.student.dateOfBirth" is-open="vm.datePickerOpenStatus.dateOfBirth"
                                   />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateOfBirth')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.cityOfBirth" for="field_cityOfBirth">City Of Birth</label>
                        <input type="text" class="form-control" name="cityOfBirth" id="field_cityOfBirth"
                               ng-model="vm.student.cityOfBirth"
                               />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.country" for="field_country">Country</label>
                        <!--<input type="text" class="form-control" name="country" id="field_country"
                               ng-model="vm.student.country " 
                               />-->
                        {{vm.student.country| countryFilter}}
                        <!--<li ng-repeat="country in vm.countries track by country.name | countryFilter " ng-bind="country.name"></li>-->
                        <select class="form-control" id="field_country" name="country" ng-model="vm.student.country" ng-options="country.translatedEnglishName as country.translatedEnglishName for country in vm.countries track by country.translatedEnglishName" ng-change="vm.setNationality()">
                            <option value=""></option>
                        </select>
                    </div>



                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.nationality" for="field_nationality">Nationality</label>
                        <input type="text" class="form-control" name="nationality" id="field_nationality"
                               ng-model="vm.student.nationality"
                               />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.mother_tongue" for="field_mother_tongue">Mother Tongue</label>
                        <!--<input type="text" class="form-control" name="mother_tongue" id="field_mother_tongue"
                               ng-model="vm.student.mother_tongue"
                               />-->
                        <select class="form-control" id="field_mother_tongue" name="mother_tongue" ng-model="vm.student.mother_tongue">
                            <option label="Afrikaans" value="Afrikaans">Afrikaans</option>
                            <option label="Albanian" value="Albanian">Albanian</option>
                            <option label="Amharic" value="Amharic">Amharic</option>
                            <option label="Arabic" value="Arabic">Arabic</option>
                            <option label="Armenian" value="Armenian">Armenian</option>
                            <option label="Azerbaijani" value="Azerbaijani">Azerbaijani</option>
                            <option label="Belarusian" value="Belarusian">Belarusian</option>
                            <option label="Bengali" value="Bengali">Bengali</option>
                            <option label="Bislama" value="Bislama">Bislama</option>
                            <option label="Bosnian" value="Bosnian">Bosnian</option>
                            <option label="Bulgarian" value="Bulgarian">Bulgarian</option>
                            <option label="Burmese" value="Burmese">Burmese</option>
                            <option label="Catalan" value="Catalan">Catalan</option>
                            <option label="Chinese" value="Chinese">Chinese</option>
                            <option label="Croatian" value="Croatian">Croatian</option>
                            <option label="Czech" value="Czech">Czech</option>
                            <option label="Danish" value="Danish">Danish</option>
                            <option label="Divehi" value="Divehi">Divehi</option>
                            <option label="Dutch" value="Dutch">Dutch</option>
                            <option label="Dzongkha" value="Dzongkha">Dzongkha</option>
                            <option label="English" value="English">English</option>
                            <option label="Estonian" value="Estonian">Estonian</option>
                            <option label="Faroese" value="Faroese">Faroese</option>
                            <option label="Finnish" value="Finnish">Finnish</option>
                            <option label="French" value="French">French</option>
                            <option label="Georgian" value="Georgian">Georgian</option>
                            <option label="German" value="German">German</option>
                            <option label="Greek (modern)" value="Greek (modern)">Greek (modern)</option>
                            <option label="Hebrew (modern)" value="Hebrew (modern)">Hebrew (modern)</option>
                            <option label="Hindi" value="Hindi">Hindi</option>
                            <option label="Hungarian" value="Hungarian">Hungarian</option>
                            <option label="Icelandic" value="Icelandic">Icelandic</option>
                            <option label="Indonesian" value="Indonesian">Indonesian</option>
                            <option label="Irish" value="Irish">Irish</option>
                            <option label="Italian" value="Italian">Italian</option>
                            <option label="Japanese" value="Japanese">Japanese</option>
                            <option label="Kalaallisut" value="Kalaallisut">Kalaallisut</option>
                            <option label="Kazakh" value="Kazakh">Kazakh</option>
                            <option label="Khmer" value="Khmer">Khmer</option>
                            <option label="Kinyarwanda" value="Kinyarwanda">Kinyarwanda</option>
                            <option label="Korean" value="Korean">Korean</option>
                            <option label="Kyrgyz" value="Kyrgyz">Kyrgyz</option>
                            <option label="Lao" value="Lao">Lao</option>
                            <option label="Latin" value="Latin">Latin</option>
                            <option label="Latvian" value="Latvian">Latvian</option>
                            <option label="Lithuanian" value="Lithuanian">Lithuanian</option>
                            <option label="Macedonian" value="Macedonian">Macedonian</option>
                            <option label="Malay" value="Malay">Malay</option>
                            <option label="Malaysian" value="Malaysian">Malaysian</option>
                            <option label="Maltese" value="Maltese">Maltese</option>
                            <option label="Mongolian" value="Mongolian">Mongolian</option>
                            <option label="Nepali" value="Nepali">Nepali</option>
                            <option label="Norwegian" value="Norwegian">Norwegian</option>
                            <option label="Pashto" value="Pashto">Pashto</option>
                            <option label="Persian (Farsi)" value="Persian (Farsi)">Persian (Farsi)</option>
                            <option label="Polish" value="Polish">Polish</option>
                            <option label="Portuguese" value="Portuguese">Portuguese</option>
                            <option label="Romanian" value="Romanian">Romanian</option>
                            <option label="Russian" value="Russian">Russian</option>
                            <option label="Samoan" value="Samoan">Samoan</option>
                            <option label="Serbian" value="Serbian">Serbian</option>
                            <option label="Sinhalese" value="Sinhalese">Sinhalese</option>
                            <option label="Slovak" value="Slovak">Slovak</option>
                            <option label="Slovene" value="Slovene">Slovene</option>
                            <option label="Somali" value="Somali">Somali</option>
                            <option label="Spanish" value="Spanish">Spanish</option>
                            <option label="Swahili" value="Swahili">Swahili</option>
                            <option label="Swedish" value="Swedish">Swedish</option>
                            <option label="Tajik" value="Tajik">Tajik</option>
                            <option label="Thai" value="Thai">Thai</option>
                            <option label="Tigrinya" value="Tigrinya">Tigrinya</option>
                            <option label="Turkish" value="Turkish">Turkish</option>
                            <option label="Turkmen" value="Turkmen">Turkmen</option>
                            <option label="Ukrainian" value="Ukrainian">Ukrainian</option>
                            <option label="Uzbek" value="Uzbek">Uzbek</option>
                            <option label="Vietnamese" value="Vietnamese">Vietnamese</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.other_languages" for="field_other_languages">Other Languages</label>
                        <!--<input type="text" class="form-control" name="other_languages" id="field_other_languages"
                               ng-model="vm.student.other_languages"
                               />-->
                        <select class="form-control" name="other_languages" ng-model="vm.student.other_languages" id="field_other_languages" >
                            <option value="FRANCESE"> Francese </option>
                            <option value="SPAGNOLO"> Spagnolo </option>
                            <option value="PORTOGHESE"> Portoghese </option>
                            <option value="ARABO"> Arabo </option>
                            <option value="INGLESE"> Inglese </option>
                            <option value="TEDESCO"> Tedesco </option>
                            <option value="RUSSO"> Russo </option>
                            <option value="GRECO"> Greco </option>
                            <option value="CINESE"> Cinese </option>
                            <option value="GIAPPONESE"> Giapponese</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.city" for="field_city">City</label>
                        <input type="text" class="form-control" name="city" id="field_city"
                               ng-model="vm.student.city"
                               />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.address" for="field_address">Address</label>
                        <input type="text" class="form-control" name="address" id="field_address"
                               ng-model="vm.student.address"
                               />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.postal_code" for="field_postal_code">Postal Code</label>
                        <input type="text" class="form-control" name="postal_code" id="field_postal_code"
                               ng-model="vm.student.postal_code"
                               />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.phoneNumber" for="field_phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                               ng-model="vm.student.phoneNumber"
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.mobile_phone" for="field_mobile_phone">Mobile Phone</label>
                        <input type="text" class="form-control" name="mobile_phone" id="field_mobile_phone"
                               ng-model="vm.student.mobile_phone"
                               />
                    </div>


                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.stateOrProvince" for="field_stateOrProvince">State Or Province</label>
                        <input type="text" class="form-control" name="stateOrProvince" id="field_stateOrProvince"
                               ng-model="vm.student.stateOrProvince"
                               />
                    </div>


                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.email" for="field_email">Email</label>
                        <input type="text" class="form-control" name="email" id="field_email"
                               ng-model="vm.student.email" readonly=""
                               />
                    </div>


                </uib-accordion-body>
            </uib-accordion-group>



            <uib-accordion-group>
                <uib-accordion-heading>
                    <uib-accordion-title data-translate="xeniaApp.student.academicProfile">
                        Profilo Accademico
                    </uib-accordion-title>
                </uib-accordion-heading>
                <uib-accordion-body>



                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.qualification" for="field_qualification">Qualification</label>
                        <select class="form-control" name="qualification" ng-model="vm.student.qualification" id="field_qualification">
                            <option value="PHD" data-translate="xeniaApp.Qualification.PHD">PhD</option>
                            <option value="MASTEROFSCIENCE" data-translate="xeniaApp.Qualification.MASTEROFSCIENCE">MasterOfScience</option>
                            <option value="BACHELOR" data-translate="xeniaApp.Qualification.BACHELOR">Bachelor</option>
                            <option value="HIGHSCHOOL" data-translate="xeniaApp.Qualification.HIGHSCHOOL">Highschool</option>
                            <option value="OTHER" data-translate="xeniaApp.Qualification.OTHER">OTHER</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.profession" for="field_profession">Profession</label>
                        <!--<input type="text" class="form-control" name="profession" id="field_profession"
                               ng-model="vm.student.profession"
                               />-->
                        <select class="form-control" name="profession" ng-model="vm.student.profession" id="field_profession" >
                            <option value="ACCOMPAGNATORE_TURISTICO" > Accompagnatore turistico </option>
                            <option value="AGENTE_DI_COMMERCIO"> Agente di commercio</option>
                            <option value="ARTIGIANO"> Artigiano</option>
                            <option value="CASALINGA"> Casalinga</option>
                            <option value="COMMERCIANTE"> Commerciante</option>
                            <option value="CONSULENTE"> Consulente</option>
                            <option value="DESIGNER"> Designer</option>
                            <option value="DIRIGENTE_FUNZIONARIO">Dirigente/funzionario</option>
                            <option value="ECCLESIASTICO"> Ecclesiastico</option>
                            <option value="IMPIEGATO"> Impiegato</option>
                            <option value="IMPRENDITORE"> Imprenditore</option>
                            <option value="INSEGNANTE"> Insegnante</option>
                            <option value="LIBERO_PROFESSIONISTA"> Libero professionista</option>
                            <option value="MUSICISTA"> Musicista</option>
                            <option value="PERSONALE_MEDICO"> Personale medico</option>
                            <option value="OPERAIO"> Operaio</option>
                            <option value="FORZE_ARMATE"> Forze armate/guardia/vigile</option>
                            <option value="PENSIONATO"> Pensionato</option>
                            <option value="STUDENTE"> Studente</option>
                            <option value="STILISTA"> Stilista</option>
                            <option value="IN_CERCA_DI_OCCUPAZIONE"> In cerca di occupazione</option>
                            <option value="ALTRO"> Altro</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.knowledgeOfItalian" for="field_knowledgeOfItalian">Knowledge Of Italian</label>
                        <select class="form-control" name="knowledgeOfItalian" ng-model="vm.student.knowledgeOfItalian" id="field_knowledgeOfItalian" required>
                            <option value="SI" data-translate="xeniaApp.Level.SI">SI</option>
                            <option value="NO" data-translate="xeniaApp.Level.NO">NO</option>
                        </select>
                    </div>
                    <div class="form-group fade-element-in" ng-if="vm.student.knowledgeOfItalian === 'SI'">
                        <label class="control-label" data-translate="xeniaApp.student.italian_studied_in" for="field_italian_studied_in">Italian Studied In</label>
                        <!--<input type="text" class="form-control" name="italian_studied_in" id="field_italian_studied_in"
                               ng-model="vm.student.italian_studied_in"
                               />-->
                        <select class="form-control" name="italian_studied_in" ng-model="vm.student.italian_studied_in" id="field_italian_studied_in" ng-required="vm.student.knowledgeOfItalian === 'SI'">
                            <option value="INITALY" data-translate="xeniaApp.ItalianStudiedIn.INITALY">In Italia</option>
                            <option value="INYOURCOUNTRY" data-translate="xeniaApp.ItalianStudiedIn.INYOURCOUNTRY">Nel Suo Paese</option>
                            <option value="OTHER" data-translate="xeniaApp.ItalianStudiedIn.OTHER">Altro</option>
                        </select>
                    </div>
                    <div class="form-group fade-element-in" ng-if="vm.student.knowledgeOfItalian === 'SI'" >
                        <label class="control-label" data-translate="xeniaApp.student.italian_studied_for" for="field_italian_studied_for">Italian Studied For</label>
                        <!--<input type="text" class="form-control" name="italian_studied_for" id="field_italian_studied_for"
                               ng-model="vm.student.italian_studied_for"
                               />-->
                        <select class="form-control" name="italian_studied_for" ng-model="vm.student.italian_studied_for" id="field_italian_studied_for" ng-required="vm.student.knowledgeOfItalian === 'SI'">
                            <option value="MONTH" data-translate="xeniaApp.ItalianStudiedFor.MONTH">Mesi</option>
                            <option value="YEARS" data-translate="xeniaApp.ItalianStudiedFor.YEARS">Anni</option>
                        </select>
                    </div>
                    <div class="form-group fade-element-in" ng-if="vm.student.knowledgeOfItalian === 'SI'">
                        <label class="control-label" data-translate="xeniaApp.student.italian_studied_hour_week" for="field_italian_studied_hour_week">Italian Studied Hour Week</label>
                        <!--<input type="text" class="form-control" name="italian_studied_hour_week" id="field_italian_studied_hour_week"
                               ng-model="vm.student.italian_studied_hour_week"
                               /> -->
                        <select class="form-control" name="italian_studied_hour_week" ng-model="vm.student.italian_studied_hour_week" id="field_italian_studied_hour_week" ng-required="vm.student.knowledgeOfItalian === 'SI'">
                            <option value="LESS10HOURS" data-translate="xeniaApp.ItalianStudiedHourWeek.LESS10HOURS">MenoDi10</option>
                            <option value="MORE10HOURS" data-translate="xeniaApp.ItalianStudiedHourWeek.MORE10HOURS">PiuDi10</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <!-- && vm.interests[1]==undefined && vm.interests[2]==undefined && vm.interests[3]==undefined && vm.interests[4]==undefined-->
                        <div uib-alert id="messageAlreadyStudent" class="alert alert-danger"  
                             ng-show="(!vm.response[0].selected && !vm.response[1].selected && !vm.response[2].selected && !vm.response[3].selected && !vm.response[4].selected)">
                            <strong>Danger!</strong> You have to set at least one interest.

                        </div>
                        <!--<label class="control-label" data-translate="xeniaApp.student.italian_studied_interests" for="field_italian_studied_interests">Italian Studied Interests</label>-->
                        <label class="control-label" data-translate="xeniaApp.userInformation.6.title">Italian Studied Interests</label>
                        <div class="table-responsive">
                            <table class="table">
                                <tr align="center">
                                    <td ng-repeat="res in vm.response">
                                        <input type="checkbox" name="{{res.question.id}}" id="{{res.question.id}}" ng-model="res.selected" ng-false-value="false" ng-true-value="true" ng-Required="!vm.someSelected(res.question.id)">
                                        <label class="control-label" data-translate="xeniaApp.userInformation.{{res.question.id}}.response.{{res.id}}"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.italian_certification_ownership" for="field_knowledgeOfItalian">Italian Certification Ownership</label>
                        <select class="form-control" name="italian_certification_ownership" ng-model="vm.student.italian_certification_ownership" id="field_italian_certification_ownership">
                            <option value="SI" data-translate="xeniaApp.Level.SI">SI</option>
                            <option value="NO" data-translate="xeniaApp.Level.NO">NO</option>
                        </select>
                    </div>

                    <div class="form-group fade-element-in" ng-if="vm.student.italian_certification_ownership === 'SI'">
                        <label class="control-label" data-translate="xeniaApp.student.italian_certification" for="field_italian_certification">Italian Certification</label>
                        <!--<input type="text" class="form-control" name="italian_certification" id="field_italian_certification"
                               ng-model="vm.student.italian_certification"
                               />-->
                        <select class="form-control" name="italian_certification" ng-model="vm.student.italian_certification" id="field_italian_certification" ng-required="vm.student.italian_certification_ownership === 'SI'" >
                            <option value="CELI" >CELI</option>
                            <option value="CILS" >CILS</option>
                            <option value="PLIDA" >PLIDA</option>
                            <option value="CERT.IT" >CERT.IT</option>
                        </select>
                    </div>
                    <div class="form-group fade-element-in" ng-if="vm.student.italian_certification_ownership != undefined">
                        <label class="control-label" data-translate="xeniaApp.student.italian_level" for="field_italian_level">Italian Level</label>
                        <!--<input type="text" class="form-control" name="italian_level" id="field_italian_level"
                               ng-model="vm.student.italian_level"
                               />-->
                        <select class="form-control" name="italian_level" ng-model="vm.student.italian_level" id="field_italian_level" required>
                            <option ng-if="vm.student.italian_certification_ownership === 'SI'" value="A1" >A1</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'SI'" value="A2" >A2</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'SI'" value="B1" >B1</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'SI'" value="B2" >B2</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'SI'" value="C1" >C1</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'SI'" value="C2" >C2</option>

                            <option ng-if="vm.student.italian_certification_ownership === 'NO'" value="A1" data-translate="xeniaApp.student.italian_description_level.A1">A1</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'NO'" value="A2" data-translate="xeniaApp.student.italian_description_level.A2">A2</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'NO'" value="B1" data-translate="xeniaApp.student.italian_description_level.B1">B1</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'NO'" value="B2" data-translate="xeniaApp.student.italian_description_level.B2">B2</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'NO'" value="C1" data-translate="xeniaApp.student.italian_description_level.C1">C1</option>
                            <option ng-if="vm.student.italian_certification_ownership === 'NO'" value="C2" data-translate="xeniaApp.student.italian_description_level.C2">C2</option>

                        </select>
                    </div>

                    <!-- <div class="form-group fade-element-in" ng-if="vm.student.italian_certification_ownership === 'NO'">
                         <label class="control-label" data-translate="xeniaApp.student.italian_level" for="field_italian_level">Italian Level</label>
                    <!--<input type="text" class="form-control" name="italian_level" id="field_italian_level"
                           ng-model="vm.student.italian_level"
                           />-->
                    <!-- <select class="form-control" name="italian_level" ng-model="vm.student.italian_level" id="field_italian_level">
                         <option value="A1" data-translate="xeniaApp.student.italian_description_level.A1">A1</option>
                         <option value="A2" data-translate="xeniaApp.student.italian_description_level.A2">A2</option>
                         <option value="B1" data-translate="xeniaApp.student.italian_description_level.B1">B1</option>
                         <option value="B2" data-translate="xeniaApp.student.italian_description_level.B2">B2</option>
                         <option value="C1" data-translate="xeniaApp.student.italian_description_level.C1">C1</option>
                         <option value="C2" data-translate="xeniaApp.student.italian_description_level.C2">C2</option>
                     </select>
                    </div>-->


                </uib-accordion-body>
            </uib-accordion-group>



            <uib-accordion-group>
                <uib-accordion-heading>
                    <uib-accordion-title data-translate="xeniaApp.student.alreadyStudent">
                        Already Student
                    </uib-accordion-title>
                </uib-accordion-heading>
                <uib-accordion-body>
                    <div uib-alert id="messageAlreadyStudent" class="alert alert-danger"  
                         ng-show="(vm.student.previousAttendYear != undefined && vm.student.how_long_student_at_unistrapg === undefined)
                                         ||
                                         (vm.student.how_long_student_at_unistrapg != undefined && vm.student.previousAttendYear === undefined)">
                        <strong>Danger!</strong> if you are already a student you have to insert the Previous Attend Year and for how long you study at Unistrapg.
                    </div>
                    <!--<div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.alreadyStudent" for="field_alreadyStudent">Already Student</label>
                        <input type="checkbox" class="form-control" name="alreadyStudent" id="field_alreadyStudent"
                               ng-model="vm.student.alreadyStudent"
                               />
                    </div> -->
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.previousAttendYear" for="field_previousAttendYear">Previous Attend Year</label>
                        <input type="number" class="form-control" name="previousAttendYear" id="field_previousAttendYear"
                               ng-model="vm.student.previousAttendYear"  ng-required="vm.student.how_long_student_at_unistrapg!= null "
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.how_long_student_at_unistrapg" for="field_how_long_student_at_unistrapg">How Long Student At Unistrapg</label>
                        <input type="number" class="form-control" name="how_long_student_at_unistrapg" id="field_how_long_student_at_unistrapg"
                               ng-model="vm.student.how_long_student_at_unistrapg" ng-required="vm.student.previousAttendYear!= null "
                               />
                    </div>

                </uib-accordion-body>
            </uib-accordion-group>

            <uib-accordion-group>
                <uib-accordion-heading>
                    <uib-accordion-title data-translate="xeniaApp.student.scholarship">
                        Scholarship
                    </uib-accordion-title>
                </uib-accordion-heading>
                <uib-accordion-body>
                    <div uib-alert id="messageScholarship" class="alert alert-danger"   
                         ng-show="(vm.student.scholarshipStartDate != '' && (vm.student.scholarshipEndDate === undefined || vm.student.scholarshipAwardedBy === undefined))
                                         ||
                                         (vm.student.scholarshipEndDate != '' && (vm.student.scholarshipStartDate === undefined || vm.student.scholarshipAwardedBy === undefined))
                                         ||
                                         (vm.student.scholarshipAwardedBy != '' && (vm.student.scholarshipStartDate === undefined || vm.student.scholarshipEndDate === undefined))" >
                        <strong>Danger!</strong> if you have a scholarship, you have to insert the Scholarship Start and End Date and the awarded entity.
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.scholarship" for="field_scholarship">Scholarship</label>
                        <input type="checkbox" class="form-control" name="scholarship" id="field_scholarship"
                               ng-model="vm.student.scholarship"
                                           />
                                </div>-->
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.scholarshipStartDate" for="field_scholarshipStartDate">Scholarship Start Date</label>
                        <div class="input-group">
                            <input id="field_scholarshipStartDate" type="text" class="form-control" name="scholarshipStartDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.student.scholarshipStartDate" is-open="vm.datePickerOpenStatus.scholarshipStartDate" ng-required="vm.student.scholarshipEndDate!= undefined || vm.student.scholarshipAwardedBy != undefined "
                                   />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scholarshipStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.scholarshipEndDate" for="field_scholarshipEndDate">Scholarship End Date</label>
                        <div class="input-group">
                            <input id="field_scholarshipEndDate" type="text" class="form-control" name="scholarshipEndDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.student.scholarshipEndDate" is-open="vm.datePickerOpenStatus.scholarshipEndDate" ng-required="vm.student.scholarshipStartDate!= undefined || vm.student.scholarshipAwardedBy != undefined "
                                   />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('scholarshipEndDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.scholarshipAwardedBy" for="field_scholarshipAwardedBy">Scholarship Awarded By</label>
                        <input type="text" class="form-control" name="scholarshipAwardedBy" id="field_scholarshipAwardedBy" ng-required="vm.student.scholarshipStartDate!= undefined || vm.student.scholarshipEndDate != undefined "
                               ng-model="vm.student.scholarshipAwardedBy"
                               />
                    </div>
                </uib-accordion-body>
            </uib-accordion-group>

            <uib-accordion-group>
                <uib-accordion-heading>
                    <uib-accordion-title data-translate="xeniaApp.student.specialRequests">
                        Richieste Speciali
                    </uib-accordion-title>
                </uib-accordion-heading>
                <uib-accordion-body>
                    <div class="form-group">
                        <div class="col-sm-1">
                            <input type="checkbox" class="radio form-control" name="accomodation" id="field_accomodation"
                                   ng-model="vm.student.accomodation" data-toggle="tooltip" title="An email with accomodation information will be sent to you!"
                                   />
                        </div>
                        <label class="radio col-sm-11 control-label" data-translate="xeniaApp.student.accomodation" for="field_accomodation" data-toggle="tooltip" title="An email with accomodation information will be sent to you!">Accomodation</label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.learning_disability" for="field_learning_disability">Learning Disability</label>
                        <input type="text" class="form-control" name="learning_disability" id="field_learning_disability"
                               ng-model="vm.student.learning_disability"
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.physical_disability" for="field_physical_disability">Physical Disability</label>
                        <input type="text" class="form-control" name="physical_disability" id="field_physical_disability"
                               ng-model="vm.student.physical_disability"
                               />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="xeniaApp.student.other_special_requests" for="field_other_special_requests">Other Special Requests</label>
                        <input type="text" class="form-control" name="other_special_requests" id="field_other_special_requests"
                               ng-model="vm.student.other_special_requests"
                               />
                    </div>
                </uib-accordion-body>
            </uib-accordion-group>


            <div class="form-group">
                <div class="col-sm-1">
                    <input type="checkbox" class="radio form-control" name="privacyAuthorize" id="field_privacyAuthorize"
                           ng-model="vm.student.privacyAuthorize" required
                           />

                </div>
                <label class="radio col-sm-11 control-label" data-translate="xeniaApp.student.privacyAuthorize" for="field_privacyAuthorize">Privacy Authorize</label>
            </div>

            <!-- l'assegnazione dell'user dev'essere automatica
            <div class="form-group">
                <label data-translate="xeniaApp.student.user" for="field_user">User</label>
                <select class="form-control" id="field_user" name="user" ng-model="vm.student.user" ng-options="user as user.id for user in vm.users track by user.id">
                    <option value=""></option>
                </select>
            </div> -->
        </uib-accordion>

        <div class="form-group fade-element-in" has-any-authority="ROLE_ADMIN, ROLE_LECTURER">
            <label class="control-label" data-translate="xeniaApp.student.italian_level" for="field_italian_level">Italian Level</label>
            <!--<input type="text" class="form-control" name="italian_level" id="field_italian_level"
                   ng-model="vm.student.italian_level"
                   />-->
            <select class="form-control" name="italian_level" ng-model="vm.student.italian_level" id="field_italian_level">
                <option value="A1" >A1</option>
                <option value="A2" >A2</option>
                <option value="B1" >B1</option>
                <option value="B2" >B2</option>
                <option value="C1" >C1</option>
                <option value="C2" >C2</option>
            </select>
        </div>
        <div class="form-group"  has-any-authority="ROLE_ADMIN, ROLE_USER, ROLE_STUDENT">
            <label data-translate="xeniaApp.student.placement_test" for="field_placement_test">Placement Test</label>
            <select class="form-control" id="field_placement_test" multiple name="placement_test" ng-model="vm.student.placementTests" ng-options="placementTest as placementTest.scheduleTime for placementTest in vm.placementTests track by placementTest.id" required></select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
