<div>
    <h2 data-translate="xeniaApp.student.home.title">Students</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="student.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="xeniaApp.student.home.createLabel">
                        Create new Student
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="xeniaApp.student.name">Name</span></th>
                    <th><span data-translate="xeniaApp.student.surname">Surname</span></th>
                    <th><span data-translate="xeniaApp.student.sex">Sex</span></th>
                    <th><span data-translate="xeniaApp.student.email">Email</span></th>
                    <th><span data-translate="xeniaApp.student.phoneNumber">Phone Number</span></th>
                    <th><span data-translate="xeniaApp.student.cityOfBirth">City Of Birth</span></th>
                    <th><span data-translate="xeniaApp.student.nationality">Nationality</span></th>
                    <th><span data-translate="xeniaApp.student.address">Address</span></th>
                    <th><span data-translate="xeniaApp.student.country">Country</span></th>
                    <th><span data-translate="xeniaApp.student.stateOrProvince">State Or Province</span></th>
                    <th><span data-translate="xeniaApp.student.city">City</span></th>
                    <th><span data-translate="xeniaApp.student.profession">Profession</span></th>
                    <th><span data-translate="xeniaApp.student.dateOfBirth">Date Of Birth</span></th>
                    <th><span data-translate="xeniaApp.student.qualification">Qualification</span></th>
                    <th><span data-translate="xeniaApp.student.knowledgeOfItalian">Knowledge Of Italian</span></th>
                    <th><span data-translate="xeniaApp.student.alreadyStudent">Already Student</span></th>
                    <th><span data-translate="xeniaApp.student.previousAttendYear">Previous Attend Year</span></th>
                    <th><span data-translate="xeniaApp.student.scholarship">Scholarship</span></th>
                    <th><span data-translate="xeniaApp.student.scholarshipStartDate">Scholarship Start Date</span></th>
                    <th><span data-translate="xeniaApp.student.scholarshipEndDate">Scholarship End Date</span></th>
                    <th><span data-translate="xeniaApp.student.scholarshipAwardedBy">Scholarship Awarded By</span></th>
                    <th><span data-translate="xeniaApp.student.privacyAuthorize">Privacy Authorize</span></th>
                    <th><span data-translate="xeniaApp.student.registrationDate">Registration Date</span></th>
                    <th><span data-translate="xeniaApp.student.studentNumber">Student Number</span></th>
                    <th><span data-translate="xeniaApp.student.postal_code">Postal Code</span></th>
                    <th><span data-translate="xeniaApp.student.mobile_phone">Mobile Phone</span></th>
                    <th><span data-translate="xeniaApp.student.mother_tongue">Mother Tongue</span></th>
                    <th><span data-translate="xeniaApp.student.other_languages">Other Languages</span></th>
                    <th><span data-translate="xeniaApp.student.italian_studied_in">Italian Studied In</span></th>
                    <th><span data-translate="xeniaApp.student.italian_studied_for">Italian Studied For</span></th>
                    <th><span data-translate="xeniaApp.student.italian_studied_hour_week">Italian Studied Hour Week</span></th>
                    <!--<th><span data-translate="xeniaApp.student.italian_studied_interests">Italian Studied Interests</span></th>-->
                    <th><span data-translate="xeniaApp.student.italian_certification">Italian Certification</span></th>
                    <th><span data-translate="xeniaApp.student.italian_level">Italian Level</span></th>
                    <th><span data-translate="xeniaApp.student.how_long_student_at_unistrapg">How Long Student At Unistrapg</span></th>
                    <th><span data-translate="xeniaApp.student.accomodation">Accomodation</span></th>
                    <th><span data-translate="xeniaApp.student.learning_disability">Learning Disability</span></th>
                    <th><span data-translate="xeniaApp.student.physical_disability">Physical Disability</span></th>
                    <th><span data-translate="xeniaApp.student.other_special_requests">Other Special Requests</span></th>
                    <th><span data-translate="xeniaApp.student.user">User</span></th>
                    <th><span data-translate="xeniaApp.student.placement_test">PlacementTest</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in vm.students track by student.id">
                    <td><a ui-sref="student-detail({id:student.id})">{{student.id}}</a></td>
                    <td>{{student.name}}</td>
                    <td>{{student.surname}}</td>
                    <td data-translate="{{'xeniaApp.Sex.' + student.sex}}">{{student.sex}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.phoneNumber}}</td>
                    <td>{{student.cityOfBirth}}</td>
                    <td>{{student.nationality}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.country}}</td>
                    <td>{{student.stateOrProvince}}</td>
                    <td>{{student.city}}</td>
                    <td>{{student.profession}}</td>
                        <td>{{student.dateOfBirth | date:'mediumDate'}}</td>
                    <td data-translate="{{'xeniaApp.Qualification.' + student.qualification}}">{{student.qualification}}</td>
                    <td data-translate="{{'xeniaApp.Level.' + student.knowledgeOfItalian}}">{{student.knowledgeOfItalian}}</td>
                    <td>{{student.alreadyStudent}}</td>
                    <td>{{student.previousAttendYear}}</td>
                    <td>{{student.scholarship}}</td>
                        <td>{{student.scholarshipStartDate | date:'mediumDate'}}</td>
                        <td>{{student.scholarshipEndDate | date:'mediumDate'}}</td>
                    <td>{{student.scholarshipAwardedBy}}</td>
                    <td>{{student.privacyAuthorize}}</td>
                        <td>{{student.registrationDate | date:'mediumDate'}}</td>
                    <td>{{student.studentNumber}}</td>
                    <td>{{student.postal_code}}</td>
                    <td>{{student.mobile_phone}}</td>
                    <td>{{student.mother_tongue}}</td>
                    <td>{{student.other_languages}}</td>
                    <td>{{student.italian_studied_in}}</td>
                    <td>{{student.italian_studied_for}}</td>
                    <td>{{student.italian_studied_hour_week}}</td>
                    <td>{{student.italian_studied_interests}}</td>
                    <td>{{student.italian_certification}}</td>
                    <td>{{student.italian_level}}</td>
                    <td>{{student.how_long_student_at_unistrapg}}</td>
                    <td>{{student.accomodation}}</td>
                    <td>{{student.learning_disability}}</td>
                    <td>{{student.physical_disability}}</td>
                    <td>{{student.other_special_requests}}</td>
                    <td>
                        {{student.user.id}}
                    </td>
                    <td>
                        <span ng-repeat="pretest in student.pretests">
                            <a class="form-control-static" ui-sref="pretest-detail({id: pretest.id})">{{pretest.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="student-detail({id:student.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.edit({id:student.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="student.delete({id:student.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
