
<div>
    <h2><span data-translate="xeniaApp.student.detail.title">Student</span> {{vm.student.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.student.name">Name</span></dt>
        <dd>
            <span>{{vm.student.name}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.surname">Surname</span></dt>
        <dd>
            <span>{{vm.student.surname}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.sex">Sex</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.Sex.' + vm.student.sex}}">{{vm.student.sex}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.email">Email</span></dt>
        <dd>
            <span>{{vm.student.email}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{vm.student.phoneNumber}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.cityOfBirth">City Of Birth</span></dt>
        <dd>
            <span>{{vm.student.cityOfBirth}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.nationality">Nationality</span></dt>
        <dd>
            <span>{{vm.student.nationality}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.address">Address</span></dt>
        <dd>
            <span>{{vm.student.address}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.country">Country</span></dt>
        <dd>
            <span>{{vm.student.country}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.stateOrProvince">State Or Province</span></dt>
        <dd>
            <span>{{vm.student.stateOrProvince}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.city">City</span></dt>
        <dd>
            <span>{{vm.student.city}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.profession">Profession</span></dt>
        <dd>
            <span>{{vm.student.profession}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.dateOfBirth">Date Of Birth</span></dt>
        <dd>
            <span>{{vm.student.dateOfBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.qualification">Qualification</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.Qualification.' + vm.student.qualification}}">{{vm.student.qualification}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.knowledgeOfItalian">Knowledge Of Italian</span></dt>
        <dd>
            <span data-translate="{{'xeniaApp.Level.' + vm.student.knowledgeOfItalian}}">{{vm.student.knowledgeOfItalian}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.alreadyStudent">Already Student</span></dt>
        <dd>
            <span>{{vm.student.alreadyStudent}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.previousAttendYear">Previous Attend Year</span></dt>
        <dd>
            <span>{{vm.student.previousAttendYear}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.scholarship">Scholarship</span></dt>
        <dd>
            <span>{{vm.student.scholarship}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.scholarshipStartDate">Scholarship Start Date</span></dt>
        <dd>
            <span>{{vm.student.scholarshipStartDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.scholarshipEndDate">Scholarship End Date</span></dt>
        <dd>
            <span>{{vm.student.scholarshipEndDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.scholarshipAwardedBy">Scholarship Awarded By</span></dt>
        <dd>
            <span>{{vm.student.scholarshipAwardedBy}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.privacyAuthorize">Privacy Authorize</span></dt>
        <dd>
            <span>{{vm.student.privacyAuthorize}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.registrationDate">Registration Date</span></dt>
        <dd>
            <span>{{vm.student.registrationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.studentNumber">Student Number</span></dt>
        <dd>
            <span>{{vm.student.studentNumber}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.postal_code">Postal Code</span></dt>
        <dd>
            <span>{{vm.student.postal_code}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.mobile_phone">Mobile Phone</span></dt>
        <dd>
            <span>{{vm.student.mobile_phone}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.mother_tongue">Mother Tongue</span></dt>
        <dd>
            <span>{{vm.student.mother_tongue}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.other_languages">Other Languages</span></dt>
        <dd>
            <span>{{vm.student.other_languages}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.italian_studied_in">Italian Studied In</span></dt>
        <dd>
            <span>{{vm.student.italian_studied_in}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.italian_studied_for">Italian Studied For</span></dt>
        <dd>
            <span>{{vm.student.italian_studied_for}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.italian_studied_hour_week">Italian Studied Hour Week</span></dt>
        <dd>
            <span>{{vm.student.italian_studied_hour_week}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.italian_studied_interests">Italian Studied Interests</span></dt>
        <dd>
            <span>{{vm.student.italian_studied_interests}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.italian_certification">Italian Certification</span></dt>
        <dd>
            <span>{{vm.student.italian_certification}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.italian_level">Italian Level</span></dt>
        <dd>
            <span>{{vm.student.italian_level}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.how_long_student_at_unistrapg">How Long Student At Unistrapg</span></dt>
        <dd>
            <span>{{vm.student.how_long_student_at_unistrapg}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.accomodation">Accomodation</span></dt>
        <dd>
            <span>{{vm.student.accomodation}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.learning_disability">Learning Disability</span></dt>
        <dd>
            <span>{{vm.student.learning_disability}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.physical_disability">Physical Disability</span></dt>
        <dd>
            <span>{{vm.student.physical_disability}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.other_special_requests">Other Special Requests</span></dt>
        <dd>
            <span>{{vm.student.other_special_requests}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.student.user">User</span></dt>
        <dd>
            {{vm.student.user.id}}
        </dd>
        <dt><span data-translate="xeniaApp.student.placement_test">PlacementTest</span></dt>
        <dd>
            <span ng-repeat="placementTest in vm.student.placementTest">
                <a ui-sref="placement-test-detail({id: placementTest.id})">{{placementTest.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="student-detail.edit({id:vm.student.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
