
<div>
    <h2><span data-translate="xeniaApp.question.detail.title">Question</span> {{vm.question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="xeniaApp.question.question">Question</span></dt>
        <dd>
            <span>{{vm.question.question}}</span>
        </dd>
        <dt><span data-translate="xeniaApp.question.type">Type</span></dt>
        <dd>
            <span>{{vm.question.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="question-detail.edit({id:vm.question.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
